@model IEnumerable<BurjKhalifa.Models.AttractionModel>
@{
    ViewBag.Title = "Attraction";
}

<div class="main-attraction">
    <div class="main-content tower-page select-attraction">
        <div class="left-sidebar">
            <div class="page-heading"><h1 class="page-title"><b>Select </b>Attraction</h1><span class="line"><hr></span></div>
            <p>AVAILABILITY FOR</p>
            <div class="date-area">
                @if (SessionVariables.Date != null)
                {
                    <span id="day" class="day">@(SessionVariables.Date.Value.DayOfWeek)</span>
                    <span id="date" class="date">@(SessionVariables.Date.Value.ToString("dd"))</span>
                    <span id="mnt" class="month">@(SessionVariables.Date.Value.ToString("MMMM"))</span>
                }
            </div>
            <a href="SelectDay" class="black-but-big back-but">Back<i class="fa fa-arrow-circle-left"></i></a>
        </div>
        <div class="right-sidebar">
            <div id="tower" class="tower-img">
                <div class="tower-info info1"><a href="javascript:void(0);"><span>At the Top<br> Burj Khalifa SKY  </span></a></div>
                <div class="tower-info info2 "><a href="javascript:void(0);"><span> At the Top<br> Burj Khalifa </span></a></div>
                <div class="tower-info info3 "><a href="javascript:void(0);"><span>Dubai Fountain<br /> Lake Ride </span></a></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="main-content attraction-page">
       
        <div class="row">
            <div class="right-sidebar">
                <div id="burjkhalifa-tower" class="carousel slide" data-ride="carousel">
                    <div class="left-sidebar">
                        <div class="tower-img">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li class="active attraction-tower-info tab1" data-target="#burjkhalifa-tower" data-slide-to="0"><span>At The Top Burj<br> Khalifa SKY</span></li>
                                <li class="attraction-tower-info tab2" data-target="#burjkhalifa-tower" data-slide-to="1"><span>At The Top<br> Burj Khalifa</span></li>
                                <li class="attraction-tower-info tab3" data-target="#burjkhalifa-tower" data-slide-to="2"><span>Dubai Fountain<br /> Lake Ride </span> </li>
                            </ol>
                        </div>
                    </div>
                    <!-- Wrapper for slides -->
                    <div class="back-div"><a id="back-btn" href="javascrip:void(0);">Back</a></div>
                    <div class="carousel-inner" role="listbox">
                        @{
                            var i = 1;

                        }
                        @foreach (var item in Model)
                        {
                            var AttType = "";
                            var level = "";

                            if (item.v_Att_Desc.Split(',').Length > 1)
                            {
                                AttType = item.v_Att_Desc.Split(',')[1].Replace("<br>", "_").Split('_')[0];
                                level = @item.v_Att_Desc.Split(',')[1].Replace("<br>", "_").Split('_')[1];
                            }

                            <div class="item">
                                @if (item.v_Att_Desc.Split(',').Length > 1)
                                {
                                    <div class="page-heading"><h1 class="page-title">@Html.Raw((item.v_Att_Desc.Split(',').Length == 1 ? @item.v_Att_Desc.Split(',')[0] : item.v_Att_Desc.Split(',')[0] + "<b>" + (item.v_Att_Desc.Split(',')[1]).Replace("<br>", "_").Split('_')[0] + "</b>"))</h1><span class="line"><hr></span><span class="code">@level</span>
                                        <div class="fb-like" data-href="https://www.facebook.com/AtthetopBurjkhalifa/" data-colorscheme="dark" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
                                </div>

                                }
                                else
                                {
                                    AttType = item.v_Att_Desc.Split(' ')[0] + " " + item.v_Att_Desc.Split(' ')[1] + "<br><b>" + item.v_Att_Desc.Split(' ')[2] + " " + item.v_Att_Desc.Split(' ')[3] + "</b>";
                                    <div class="page-heading"><h1 class="page-title">@Html.Raw(AttType)</h1><span class="line"><hr></span><span class="code">@level</span>
                                        <div class="fb-like" data-href="https://www.facebook.com/AtthetopBurjkhalifa/" data-colorscheme="dark" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
                                </div>
                                    
                                }
                                
                                <div class="carousel-caption">
                                    <p>@Html.Raw(item.v_Att_Location)</p><br>

                                    @if (item.i_AttractionId == 1)
                                    {
                                        <strong>Image Gallery</strong>
                                            <ul class="image-gallery">
                                                <li><a href="@Url.Content("~/Content/images/gallery-img1Full.jpg")" class="fancybox" rel="mygallery"  ><img class="img-responsive" src="@Url.Content("~/Content/images/gallery-img1.jpg")" alt=""></a></li>
                                                <li><a href="@Url.Content("~/Content/images/gallery-img2Full.jpg")" class="fancybox" rel="mygallery"  ><img class="img-responsive" src="@Url.Content("~/Content/images/gallery-img2.jpg")" alt=""></a></li>
                                                <li><a href="@Url.Content("~/Content/images/gallery-img3Full.jpg")" class="fancybox" rel="mygallery"  ><img class="img-responsive" src="@Url.Content("~/Content/images/gallery-img3.jpg")" alt=""></a></li>
                                                <li><a href="@Url.Content("~/Content/images/gallery-img4Full.jpg")" class="fancybox" rel="mygallery"  ><img class="img-responsive" src="@Url.Content("~/Content/images/gallery-img4.jpg")" alt=""></a></li>
                                            </ul>
                                            <div class="btn-block">
                                                <a eventid="@item.i_EventTypeId" attactionID="@item.i_AttractionId" resourceid="@item.i_ResourceID" href="javascript:void(0)" name="@(item.v_Att_Desc.Replace("<br>","_").Split('_').Length > 1 ? item.v_Att_Desc.Replace("<br>","_").Split('_')[0] :item.v_Att_Desc)" class="btn attraction">SELECT THIS ATTRACTION</a>
                                                @if (item.HasPromotions == 1)
                                                {
                                                    <a class="btn btn2 attraction" attactionID="@item.i_AttractionId" name="@(item.v_Att_Desc.Replace("<br>","_").Split('_').Length > 1 ? item.v_Att_Desc.Replace("<br>","_").Split('_')[0] :item.v_Att_Desc)" href="javascript:void(0)" promotion="true" resourceID="@item.i_ResourceID" eventID="@item.i_EventTypeId">promotions</a>
                                                }
                                            </div>
                                    }
                                    else if (item.i_AttractionId == 2)
                                    {
                                        <strong>Image Gallery</strong>
                                            <ul class="image-gallery">
                                                <li><a href="@Url.Content("~/Content/images/gallery-img5Full.jpg")" class="fancybox" rel="mygallery" ><img class="img-responsive" src="@Url.Content("~/Content/images/gallery-img5.jpg")" alt=""></a></li>
                                                <li><a href="@Url.Content("~/Content/images/gallery-img6Full.jpg")" class="fancybox" rel="mygallery" ><img class="img-responsive" src="@Url.Content("~/Content/images/gallery-img6.jpg")" alt=""></a></li>
                                                <li><a href="@Url.Content("~/Content/images/gallery-img7Full.jpg")" class="fancybox" rel="mygallery"  ><img class="img-responsive" src="@Url.Content("~/Content/images/gallery-img7.jpg")" alt=""></a></li>
                                                <li><a href="@Url.Content("~/Content/images/gallery-img8Full.jpg")" class="fancybox" rel="mygallery"  ><img class="img-responsive" src="@Url.Content("~/Content/images/gallery-img8.jpg")" alt=""></a></li>
                                            </ul>
                                            <div class="btn-block">
                                                <a eventid="@item.i_EventTypeId" attactionID="@item.i_AttractionId" resourceid="@item.i_ResourceID" href="javascript:void(0)" name="@(item.v_Att_Desc.Replace("<br>","_").Split('_').Length > 1 ? item.v_Att_Desc.Replace("<br>","_").Split('_')[0] :item.v_Att_Desc)" class="btn attraction">SELECT THIS ATTRACTION</a>
                                                @if (item.HasPromotions == 1)
                                                {
                                                    <a class="btn btn2 attraction" attactionID="@item.i_AttractionId" name="@(item.v_Att_Desc.Replace("<br>","_").Split('_').Length > 1 ? item.v_Att_Desc.Replace("<br>","_").Split('_')[0] :item.v_Att_Desc)" href="javascript:void(0)" promotion="true" resourceID="@item.i_ResourceID" eventID="@item.i_EventTypeId">promotions</a>
                                                }
                                            </div>
                                    }
                                    else if (item.i_AttractionId == 3)
                                    {
                                        <strong>Image Gallery</strong>
                                            <ul class="image-gallery">
                                                <li><a href="@Url.Content("~/Content/images/image-gallarylake1Full.jpg")" class="fancybox" rel="mygallery"  ><img class="img-responsive" src="@Url.Content("~/Content/images/image-gallarylake1.jpg")" alt=""></a></li>
                                                <li><a href="@Url.Content("~/Content/images/image-gallarylake2Full.jpg")" class="fancybox" rel="mygallery"  ><img class="img-responsive" src="@Url.Content("~/Content/images/image-gallarylake2.jpg")" alt=""></a></li>
                                                <li><a href="@Url.Content("~/Content/images/image-gallarylake3Full.jpg")" class="fancybox" rel="mygallery"  ><img class="img-responsive" src="@Url.Content("~/Content/images/image-gallarylake3.jpg")" alt=""></a></li>
                                                <li><a href="@Url.Content("~/Content/images/image-gallarylake4Full.jpg")" class="fancybox" rel="mygallery"  ><img class="img-responsive" src="@Url.Content("~/Content/images/image-gallarylake4.jpg")" alt=""></a></li>
                                            </ul>
                                            <div class="btn-block">
                                                <a eventid="@item.i_EventTypeId" attactionID="@item.i_AttractionId" resourceid="@item.i_ResourceID" href="javascript:void(0)" name="@(item.v_Att_Desc.Replace("<br>","_").Split('_').Length > 1 ? item.v_Att_Desc.Replace("<br>","_").Split('_')[0] :item.v_Att_Desc)" class="btn attraction">SELECT THIS ATTRACTION</a>
                                                @if (item.HasPromotions == 1)
                                                {
                                                    <a class="btn btn2 attraction" attactionID="@item.i_AttractionId" name="@(item.v_Att_Desc.Replace("<br>","_").Split('_').Length > 1 ? item.v_Att_Desc.Replace("<br>","_").Split('_')[0] :item.v_Att_Desc)" href="javascript:void(0)" promotion="true" resourceID="@item.i_ResourceID" eventID="@item.i_EventTypeId">promotions</a>
                                                }
                                            </div>
                                    }

                                    else
                                    {
                                        <div class="btn-block">
                                            <a eventid="@item.i_EventTypeId" attactionID="@item.i_AttractionId" resourceid="@item.i_ResourceID" href="javascript:void(0)" name="@(item.v_Att_Desc.Replace("<br>","_").Split('_').Length > 1 ? item.v_Att_Desc.Replace("<br>","_").Split('_')[0] :item.v_Att_Desc)" class="btn attraction">SELECT THIS ATTRACTION</a>
                                            @if (item.HasPromotions == 1)
                                            {
                                                <a class="btn btn2 attraction" attactionID="@item.i_AttractionId" name="@(item.v_Att_Desc.Replace("<br>","_").Split('_').Length > 1 ? item.v_Att_Desc.Replace("<br>","_").Split('_')[0] :item.v_Att_Desc)" href="javascript:void(0)" promotion="true" resourceID="@item.i_ResourceID" eventID="@item.i_EventTypeId">promotions</a>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>


                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------------------------------------------->
@using (Html.BeginForm("Attraction", "Home", FormMethod.Post, new { @id = "setAttraction" }))
{
    @Html.Hidden("eventId")
    @Html.Hidden("resourceId")
    @Html.Hidden("AttrationName")
    @Html.Hidden("Promotion")
    @Html.Hidden("AttractionID");
}

@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
    
<script src="@Url.Content("~/Scripts/source/jquery.fancybox.pack.js")"></script>
    <script>
        $('.attraction').click(function () {
            var attraction = $(this).attr("name");
            var e_ID = $(this).attr("eventID");
            var r_ID = $(this).attr("resourceID");
            var pr = $(this).attr("promotion");
            var AttractionID = $(this).attr("attactionID");
            $("#eventId").val(e_ID);
            $("#resourceId").val(r_ID);
            $("#AttrationName").val(attraction);
            $("#Promotion").val(pr);
            $("#AttractionID").val(AttractionID);
            $("#setAttraction").submit();
        });

        $(document).ready(function () {
            $($('.item')[0]).addClass('active');
            $($('.item')[0]).addClass('item1');
            $($('.item')[1]).addClass('item2');
            $($('.item')[2]).addClass('item3');

            $(".fancybox").fancybox();

        });
    </script>



    <script>
        $('.tower-info a').click(function () {
            $(this).parent('.tower-info').addClass('active');
            return false
        });

        $('.carousel').carousel({
            interval: false
        });
    </script>

    <script>
        $(document).ready(function () {

            $(".fancybox").fancybox();


            $('.tower-info.info1 a').click(function () {
                $('.carousel-inner .item2').removeClass('active');
                $('.carousel-inner .item3').removeClass('active');
                $('.carousel-inner .item1').addClass('active');

                $('.tower-img .tab2').removeClass('active');
                $('.tower-img .tab3').removeClass('active');
                $('.tower-img .tab1').addClass('active');
            });

            $('.tower-info.info2 a').click(function () {
                $('.carousel-inner .item1').removeClass('active');
                $('.carousel-inner .item3').removeClass('active');
                $('.carousel-inner .item2').addClass('active');

                $('.tower-img .tab1').removeClass('active');
                $('.tower-img .tab3').removeClass('active');
                $('.tower-img .tab2').addClass('active');
            });

            $('.tower-info.info3 a').click(function () {
                $('.carousel-inner .item1').removeClass('active');
                $('.carousel-inner .item2').removeClass('active');
                $('.carousel-inner .item3').addClass('active');

                $('.tower-img .tab1').removeClass('active');
                $('.tower-img .tab2').removeClass('active');
                $('.tower-img .tab3').addClass('active');
            });
        });


        $(document).ready(function () {
            $(".fancybox").fancybox();


            $(".tower-info a").click(function () {
                $('.tower-page .left-sidebar').removeClass('move-div');
                $('.tower-page .right-sidebar').removeClass('hide-div');

                $('.tower-page .left-sidebar').addClass('hide-div');
                $('.tower-page .right-sidebar').addClass('move-div');

                $('.tower-page .left-sidebar').delay(500).fadeOut(800);
                $('.tower-page .right-sidebar').delay(500).fadeOut(800);
                $('.attraction-page').delay(500).fadeIn(800);
                $('.tower-page').delay(500).fadeOut(800);
                return false
            });
        });

        $("#back-btn").click(function () {
            $('.tower-page .left-sidebar').removeClass('hide-div');
            $('.tower-page .right-sidebar').removeClass('move-div');

            $('.tower-page .left-sidebar').addClass('move-div');
            $('.tower-page .right-sidebar').addClass('hide-div');
            $('.tower-page .left-sidebar').css('display', 'block');

            $(".attraction-page").fadeOut(800);
            $(".tower-page").fadeIn(800);
            $(".tower-page .right-sidebar").fadeIn(800);
        });
    </script>

}


