@model BurjKhalifa.Models.processToPayment
@{
    ViewBag.Title = "PaymentProcess";
}

<h2>PaymentProcess - Web Service Test Page</h2>

<div class="main-content">
    
    @using (Html.BeginForm("PaymentProcess", "Home", FormMethod.Post, new { @id = "PaymentProcess", @class = "form-horizontal"}))
    {
        <div class="form-group">
            <label class="col-sm-3 control-label">vpc_3DSECI (***)</label>
            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_3DSECI" id="vpc_3DSECI" /> <br />*@
                    @Html.TextBoxFor(model => model.vpc_3DSECI, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"> vpc_3DSXID</label>
            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_3DSXID" id="vpc_3DSXID" /> <br />*@
                    @Html.TextBoxFor(model => model.vpc_3DSXID, new {  @class = "form-control"})
                </div>
            </div>
        </div>



        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_3DSenrolled
            </label>
            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_3DSenrolled"  id="vpc_3DSenrolled" /> </br>*@
                    @Html.TextBoxFor(model => model.vpc_3DSenrolled, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_3DSstatus(***)
            </label>
            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_3DSstatus"  id="vpc_3DSstatus" /> <br />*@
                    @Html.TextBoxFor(model => model.vpc_3DSstatus, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_AVSRequestCode
            </label>
            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_AVSRequestCode" id="vpc_AVSRequestCode" /> </br>*@
                    @Html.TextBoxFor(model => model.vpc_AVSRequestCode, new {  @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_AVSResultCode
            </label>
            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_AVSResultCode" id="vpc_AVSResultCode" /> <br />*@
                    @Html.TextBoxFor(model => model.vpc_AVSResultCode, new {  @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_AcqAVSRespCode
            </label>
            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_AcqAVSRespCode" id="vpc_AcqAVSRespCode" /></br>*@
                    @Html.TextBoxFor(model => model.vpc_AcqAVSRespCode, new {  @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_AcqCSCRespCode
            </label>
            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_AcqCSCRespCode" id="vpc_AcqCSCRespCode" /></br>*@
                    @Html.TextBoxFor(model => model.vpc_AcqCSCRespCode, new {  @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_AcqResponseCode
            </label>
            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_AcqResponseCode" id="vpc_AcqResponseCode" /></br>*@
                    @Html.TextBoxFor(model => model.vpc_AcqResponseCode, new {  @class = "form-control"})
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_Amount
            </label>
            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_Amount" id="vpc_Amount" /></br>*@
                    @Html.TextBoxFor(model => model.vpc_Amount, new { @class = "form-control"})
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_AuthorizeId
            </label>
            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_AuthorizeId" id="vpc_AuthorizeId" /></br>*@
                    @Html.TextBoxFor(model => model.vpc_AuthorizeId, new {  @class = "form-control"})
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_BatchNo
            </label>
            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_BatchNo" id="vpc_BatchNo" /></br>*@
                    @Html.TextBoxFor(model => model.vpc_BatchNo, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_CSCResultCode
            </label>

            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_CSCResultCode" id="vpc_CSCResultCode" /></br>*@
                    @Html.TextBoxFor(model => model.vpc_CSCResultCode, new {  @class = "form-control"})
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_Card
            </label>

            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_Card" id="vpc_Card" /></br>*@
                    @Html.TextBoxFor(model => model.vpc_Card, new {  @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_Command
            </label>

            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_Command" id="vpc_Command" /></br>*@
                    @Html.TextBoxFor(model => model.vpc_Command, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_Locale
            </label>

            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_Locale" id="vpc_Locale" /></br>*@
                    @Html.TextBoxFor(model => model.vpc_Locale, new {  @class = "form-control"})
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_MerchTxnRef
            </label>

            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_MerchTxnRef" id="vpc_MerchTxnRef" /></br>*@
                    @Html.TextBoxFor(model => model.vpc_MerchTxnRef, new {  @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_Merchant
            </label>

            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_Merchant" id="vpc_Merchant" /></br>*@
                    @Html.TextBoxFor(model => model.vpc_Merchant, new {  @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_Message
            </label>

            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_Message" id="vpc_Message" /></br>*@
                    @Html.TextBoxFor(model => model.vpc_Message, new { @class = "form-control"})
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_OrderInfo
            </label>

            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_OrderInfo" id="vpc_OrderInfo" /></br>*@
                    @Html.TextBoxFor(model => model.vpc_OrderInfo, new { @class = "form-control"})
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_ReceiptNo
            </label>

            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_ReceiptNo" id="vpc_ReceiptNo" /><br />*@
                    @Html.TextBoxFor(model => model.vpc_ReceiptNo, new { @class = "form-control"})
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_SecureHash
            </label>

            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_SecureHash" id="vpc_SecureHash" /></br>*@
                    @Html.TextBoxFor(model => model.vpc_SecureHash, new { @class = "form-control"})
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_TransactionNo
            </label>

            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_TransactionNo" id="vpc_TransactionNo" />*@
                    @Html.TextBoxFor(model => model.vpc_TransactionNo, new {  @class = "form-control"})
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_TxnResponseCode
            </label>

            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_TransactionNo" id="vpc_TransactionNo" />*@
                    @Html.TextBoxFor(model => model.vpc_TxnResponseCode, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_VerSecurityLevel
            </label>

            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_VerSecurityLevel" id="vpc_VerSecurityLevel" /></br>*@
                    @Html.TextBoxFor(model => model.vpc_VerSecurityLevel, new {  @class = "form-control"})
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_VerStatus
            </label>

            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_VerStatus" id="vpc_VerStatus" /></br>*@
                    @Html.TextBoxFor(model => model.vpc_VerStatus, new { @class = "form-control"})
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_VerToken (***)
            </label>

            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_VerStatus" id="vpc_VerStatus" /></br>*@
                    @Html.TextBoxFor(model => model.vpc_VerToken, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_VerType
            </label>

            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_VerType" id="vpc_VerType" /></br>*@
                    @Html.TextBoxFor(model => model.vpc_VerType, new {  @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                vpc_Version
            </label>
            <div class="col-sm-9">
                <div>
                    @*<input type="text" name="vpc_Version" id="vpc_Version" /></br>*@
                    @Html.TextBoxFor(model => model.vpc_Version, new {@class = "form-control" })
                </div>
            </div>
        </div>




        @*<div class="col-sm-offset-3 col-sm-9"><a href="@Url.Action("PersonalInformation", "Home")" class="black-but-big">Submit<i class="fa fa-arrow-circle-right"></i></a></div>*@
        <button type="submit" class="black-but-big">Submit<i class="fa fa-arrow-circle-right"></i></button>

        
            
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Result: 
                </label>
                <div class="col-sm-9">
                    <div>
                        @ViewBag.Success
                    </div>
                </div>
            </div>
            <br />

            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Return Url:
                </label>
                <div class="col-sm-9">
                    <div>
                        @ViewBag.ReturnUrl
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Session ID:
                </label>
                <div class="col-sm-9">
                    <div>
                        @ViewBag.OrderInfo
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Response:
                </label>
                <div class="col-sm-9">
                    <div>
                        @ViewBag.Response
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Error Message:
                </label>
                <div class="col-sm-9">
                    <div>
                        @ViewBag.Message
                    </div>
                </div>
            </div>
        
    }
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
    <script>
        $(document).ready(function () {
            //$('input').addClass('form-control');
        });
        $('.black-but-big').click(function () {

            $("#PaymentProcess").submit();
        });
    </script>


}




