
@{
    ViewBag.Title = "PaymentFail";
}

<div class="main-content select-day">
    <div class="row">
        <div class="left-sidebar">

            <div class="page-heading"><h1 class="page-title"><b>Payment</b> Fail</h1><span class="line"><hr></span></div>
            <div class="date-area">
                @if (SessionVariables.Date == null)
                {
                    <span id="day" class="day">@DateTime.Now.DayOfWeek</span>
                    <span id="date" class="date">@DateTime.Now.ToString("dd")</span>
                    <span id="mnt" class="month">@DateTime.Now.ToString("MMMM")</span>
                }
                else
                {
                    <span id="day" class="day">@(SessionVariables.Date.Value.DayOfWeek)</span>
                    <span id="date" class="date">@(SessionVariables.Date.Value.ToString("dd"))</span>
                    <span id="mnt" class="month">@(SessionVariables.Date.Value.ToString("MMMM"))</span>
                }
            </div>
            @*@using (Html.BeginForm("SelectDay", "Home"))
            {
                <div style="display:none;">
                    <input id="datepickerDate" name="datepickerDate" type="text" value="@(SessionVariables.Date != null ? SessionVariables.Date.Value.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd"))">
                </div>
                <a href="@Url.Action("SelectDate","Home")" class="black-but-big back-but">Book Now<i class="fa fa-arrow-circle-left"></i></a>
            }*@
            <a href="@Url.Action("Index","Home")" class="black-but-big back-but">Book Now<i class="fa fa-arrow-circle-left"></i></a>
        </div>
        <div class="right-sidebar">
            @if (ViewBag.payFail)
            {
                <p><strong>PAYMENT FAILED!</strong> </p>
                <div>
                    
                    Your online transaction has been declined by your bank please contact your bank.
                    If you are sure the credit card details are correct please try again later or contact 800 At the Top (800 28 843 867) for further assistance.
                    To restart your booking, please <a href="@Url.Action("Index","Home")">click here.</a>
                </div>
            }
            else
            {
                <div>
                    <p><strong>ERROR!</strong> </p>

                    An unknown error has occurred. Please contact 800 At the Top (800 28 843 867) for further assistance.

                    We urge you to contact our customer support to confirm your transaction status have it been attempted.

                    To restart your booking, please <a href="@Url.Action("Index","Home")">click here.</a>


                </div>
            }
            
            

        </div>
    </div>
</div>