@model IEnumerable<BurjKhalifa.Models.Ticket>
@{
    ViewBag.Title = "PayTicket";
}

<link rel="stylesheet" href="~/Content/css/jquery.mCustomScrollbar.css">
<div class="main-content">
    <div class="row">
        <div class="left-sidebar">
            <div class="page-heading">
                <h1 class="page-title"><b>Complete</b>Purchase</h1>
                <span class="line"><hr></span>
            </div>
        </div>
        <div class="right-sidebar pay-for-your-tickets">
            <p name="countdown" style="color: Red;text-align: right; font-size: 14px; font-weight: bold;"></p>
            <div class="gray_block">
                <p>Visitation Date & time</p>
                <b>
                    @if (SessionVariables.Date != null)
                    {
                        <span>@(SessionVariables.Date.Value.ToString("dddd, dd MMMM yyyy"))</span>
                        <br />
                    }
                    @if (SessionVariables.Availalbe > 0)
                    {
                        <span class="time">AT @DateTime.Now.Date.AddTicks(SessionVariables.StartTime.Ticks).ToString("hh:mm tt")</span>
                        <br />
                    }
                    <span class="attraction">@SessionVariables.AttrationName</span><br>
                    <span class="promotions">@SessionVariables.PromotionTitle</span>
                </b>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <colgroup>
                        <col class="col-xs-2">
                        <col class="col-xs-1">
                        <col class="col-xs-1">
                    </colgroup>
                    <tbody>
                        @{
                            var GrandTotal = 0.0;
                            foreach (var item in Model)
                            {
                                var total = 0;
                                if (item.TicketQuantity > 0)
                                {
                                    total = (item.TicketQuantity * (Int32)item.i_TicketPrice) + (item.TicketQuantity * (Int32)item.i_BookingFee);
                                    GrandTotal = GrandTotal + ((item.TicketQuantity * item.i_TicketPrice) + (item.TicketQuantity * item.i_BookingFee));
                                }
                                else
                                {
                                    total = 0;
                                }

                                <tr type="Ticket" name="@item.c_TicketTypeCode" code="@item.v_code" ticketTypeID="@item.i_ticketTypeId" call="Ticket" propertyID="@item.i_propertyId">
                                    <th width="60%" scope="row">@item.v_TicketTypeDesc</th>
                                    <td name="ticket" width="22%"><label>@item.TicketQuantity</label> Ticket(s)</td>
                                    <td name="amount" width="18%" desc="@item.v_TicketTypeDesc" bookingFee="@item.i_BookingFee" ticketPrice="@item.i_TicketPrice">AED <label>@(string.Format("{0:0.00}", total))</label></td>
                                </tr>
                            }
                            <tr>
                                <th width="60%" scope="row"></th>
                                <th width="22%">Grand Total</th>
                                <td name="GrandTotal" width="18%">AED <label>@string.Format("{0:0.00}", GrandTotal)</label></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <span id="checkbox" class="input-group  checkbox">
                <label>
                    <input type="checkbox" id="confirm" name="confirm" aria-label="...">I have read and agree to the below terms and conditions of this purchase
                </label>
            </span>

            <div class="number-area content demo-y">
                <ol>
                    <li>Ticket(s) may be purchased online through the use of valid Mastercard or Visa credit. </li>
                    <li>
                        Successful purchasers will receive a booking confirmation (Booking Confirmation) via email to the email
                        address supplied. if the Booking Confirmation is not emailed despite the transaction, please contact 800 AT THE TOP(800 28 843 867) immediately.
                    </li>
                    <li>This Booking Confirmation can be redeemed for a Date and Time ticket from the Will Call counter located at the reception of At the Top, Burj Khalifa.</li>
                    <li>The Booking Confirmation is valid only for the specific date and time shown thereon and shall automatically </li>
                    <li>Ticket(s) may be purchased online through the use of valid Mastercard or Visa credit. </li>
                    <li>
                        Successful purchasers will receive a booking confirmation (Booking Confirmation) via email to the email
                        address supplied. if the Booking Confirmation is not emailed despite the transaction, please contact 800 AT THE TOP(800 28 843 867) immediately.
                    </li>
                    <li>This Booking Confirmation can be redeemed for a Date and Time ticket from the Will Call counter located at the reception of At the Top, Burj Khalifa.</li>
                    <li>The Booking Confirmation is valid only for the specific date and time shown thereon and shall automatically </li>
                </ol>
            </div>

            <div class="btn-area">

                <a class="black-but-big right" href="javascript:void(0);">CONFIRM PAYMENT<i class="fa fa-arrow-circle-right"></i></a>
                <a class="black-but-big back-but" style="margin-top: 0px;" href="@Url.Action("SelectTicket", "Home")">BACK<i class="fa fa-arrow-circle-left"></i></a>
                @*<a class="black-but-big back-but" style="margin-top: 0px;" href="@ViewBag.ReturnUrl">BACK<i class="fa fa-arrow-circle-left"></i></a>*@


            </div>
            <div class="security-session">
                <p>
                    <i class="fa fa-info"></i>
                    For security reasons you have 5 miniutes from ticket selection to complete payment. if your session times out,your ticket selection will be cancelled.
                </p>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("PayTicket", "Home", FormMethod.Post, new { @id = "PayTicket" }))
    {
        @Html.Hidden("PayTicket")
    }
</div>

@section scripts{
    <!-- custom scrollbar plugin -->
    <script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script>
        (function ($) {
            $(window).load(function () {
                $.mCustomScrollbar.defaults.theme = "light-2";
                $(".demo-y").mCustomScrollbar();
            });
        })(jQuery);

        $('.right').click(function () {
            if ($('input#confirm').is(':checked')) {
                $("#PayTicket").submit();
            }
            else {
                $('#checkbox').css('color', '#F00');
            }
        });

        $('input#confirm').click(function () {
            if ($('input#confirm').is(':checked')) {
                $('#checkbox').css('color', '#000');
            }
            else {
                $('#checkbox').css('color', '#F00');
            }
        });
        $(document).ready(function () {


        });
    </script>
}