@model BurjKhalifa.Models.PersonalInformation
@{
    ViewBag.Title = "PersonalInformation";
}

<div class="main-content">
    <div class="row">
        <div id="personalInfo" class="left-sidebar">
            <div class="page-heading"><h1 class="page-title"><b>Personal </b>Information</h1><span class="line"><hr></span></div>
            @*<p class="time">1 : 00 PM</p>*@
            <div class="date-area">
                <span class="att"> @SessionVariables.AttrationName.ToString()</span>
                @if (SessionVariables.Date != null)
                {
                    <span id="day" class="day">@(SessionVariables.Date.Value.DayOfWeek)</span>
                    <span id="date" class="date">@(SessionVariables.Date.Value.ToString("dd"))</span>
                    <span id="mnt" class="month">@(SessionVariables.Date.Value.ToString("MMMM"))</span>
                }
                @if (SessionVariables.Availalbe > 0)
                {
                    <span class="time">AT @DateTime.Now.Date.AddTicks(SessionVariables.StartTime.Ticks).ToString("hh:mm tt")</span>
                }
            </div>
            <a href="SelectTime" class="black-but-big back-but">Back<i class="fa fa-arrow-circle-left"></i></a>
        </div>
        <div class="right-sidebar personal-information">
            <span class="text-label">PLEASE FILL IN YOUR DETAILS BELOW</span>
            <div class="personal-form">
                <script type="text/javascript">
                    var RecaptchaOptions = {
                        theme: 'clean'
                    };
                </script>
                @using (Html.BeginForm("PersonalInformation", "Home", FormMethod.Post, new { @id = "personalInformation", autocomplete = "off", @class = "form-horizontal", custInfo = @Model }))
                {
                <span class="text-right marked">Fields marked with (*) are compulsory</span>
                <div class="form-group">

                    <label class="col-sm-3 control-label">First Name (*)</label>
                    <div class="col-sm-9">
                        <div>
                            @Html.TextBoxFor(model => model.FirstName, new { @id = "FirstName", @name = "FirstName", @class = "form-control", @required = true })
                        </div>
                    </div>
                </div>

                <div class="form-group">

                    <label class="col-sm-3 control-label">Last Name (*)</label>
                    <div class="col-sm-9">
                        <div>
                            @Html.TextBoxFor(model => model.LastName, new { @id = "LastName", @class = "form-control", @required = true })
                        </div>
                    </div>
                </div>

                <div class="form-group two">
                    <label class="col-sm-3 control-label">Contact No (*)</label>
                    <div class="col-sm-9">
                        <div>
                            @Html.DropDownListFor(model => model.PostalCode,
                                          new List<SelectListItem> {
                                               new SelectListItem { Value="", Text = "Select code"},
                                        new SelectListItem { Value="+93", Text = "Afghanistan(+93)"},
                                        new SelectListItem { Value="+355", Text = "Albania(+355)"},
                                        new SelectListItem { Value="+213", Text = "Algeria(+213)"},
                                        new SelectListItem { Value="+684", Text = "American Samoa(+684)"},
                                        new SelectListItem { Value="+376", Text = "Andorra(+376)"},
                                        new SelectListItem { Value="+244", Text = "Angola(+244)"},
                                        new SelectListItem { Value="+809", Text = "Anguilla(+809)"},
                                        new SelectListItem { Value="+268", Text = "Antigua(+268)"},
                                        new SelectListItem { Value="+54", Text = "Argentina(+54)"},
                                        new SelectListItem { Value="+374", Text = "Armenia(+374)"},
                                        new SelectListItem { Value="+297", Text = "Aruba(+297)"},
                                        new SelectListItem { Value="+247", Text = "Ascension Island(+247)"},
                                        new SelectListItem { Value="+61", Text = "Australia(+61)"},
                                        new SelectListItem { Value="+672", Text = "Australian External Territories(+672)"},
                                        new SelectListItem { Value="+43", Text = "Austria(+43)"},
                                        new SelectListItem { Value="+994", Text = "Azerbaijan(+994)"},
                                        new SelectListItem { Value="+242", Text = "Bahamas(+242)"},
                                        new SelectListItem { Value="+246", Text = "Barbados(+246)"},
                                        new SelectListItem { Value="+973", Text = "Bahrain(+973)"},
                                        new SelectListItem { Value="+880", Text = "Bangladesh(+880)"},
                                        new SelectListItem { Value="+375", Text = "Belarus(+375)"},
                                        new SelectListItem { Value="+32", Text = "Belgium(+32)"},
                                        new SelectListItem { Value="+501", Text = "Belize(+501)"},
                                        new SelectListItem { Value="+229", Text = "Benin(+229)"},
                                        new SelectListItem { Value="+809", Text = "Bermuda(+809)"},
                                        new SelectListItem { Value="+975", Text = "Bhutan(+975)"},
                                        new SelectListItem { Value="+284", Text = "British Virgin Islands(+284)"},
                                        new SelectListItem { Value="+591", Text = "Bolivia(+591)"},
                                        new SelectListItem { Value="+387", Text = "Bosnia and Hercegovina(+387)"},
                                        new SelectListItem { Value="+267", Text = "Botswana(+267)"},
                                        new SelectListItem { Value="+55", Text = "Brazil(+55)"},
                                        new SelectListItem { Value="+284", Text = "British V.I.(+284)"},
                                        new SelectListItem { Value="+673", Text = "Brunei Darussalm(+673)"},
                                        new SelectListItem { Value="+359", Text = "Bulgaria(+359)"},
                                        new SelectListItem { Value="+226", Text = "Burkina Faso(+226)"},
                                        new SelectListItem { Value="+257", Text = "Burundi(+257)"},
                                        new SelectListItem { Value="+855", Text = "Cambodia(+855)"},
                                        new SelectListItem { Value="+237", Text = "Cameroon(+237)"},
                                        new SelectListItem { Value="+1", Text = "Canada(+1)"},
                                        new SelectListItem { Value="+238", Text = "Capr Verde Islands(+238)"},
                                        new SelectListItem { Value="+1", Text = "Caribbean Nations(+1)"},
                                        new SelectListItem { Value="+345", Text = "Cayman Islands(+345)"},
                                        new SelectListItem { Value="+238", Text = "Cape Verdi(+238)"},
                                        new SelectListItem { Value="+236", Text = "Central African Republic(+236)"},
                                        new SelectListItem { Value="+235", Text = "Chad(+235)"},
                                        new SelectListItem { Value="+56", Text = "Chile(+56)"},
                                        new SelectListItem { Value="+86", Text = "China (People&#39;s Republic)(+86)"},
                                        new SelectListItem { Value="+886", Text = "Taiwan(+886)"},
                                        new SelectListItem { Value="+57", Text = "Colombia(+57)"},
                                        new SelectListItem { Value="+269", Text = "Comoros and Mayotte(+269)"},
                                        new SelectListItem { Value="+242", Text = "Congo(+242)"},
                                        new SelectListItem { Value="+682", Text = "Cook Islands(+682)"},
                                        new SelectListItem { Value="+506", Text = "Costa Rica(+506)"},
                                        new SelectListItem { Value="+385", Text = "Croatia(+385)"},
                                        new SelectListItem { Value="+53", Text = "Cuba(+53)"},
                                        new SelectListItem { Value="+357", Text = "Cyprus(+357)"},
                                        new SelectListItem { Value="+420", Text = "Czech Republic(+420)"},
                                        new SelectListItem { Value="+45", Text = "Denmark(+45)"},
                                        new SelectListItem { Value="+246", Text = "Diego Garcia(+246)"},
                                        new SelectListItem { Value="+767", Text = "Dominca(+767)"},
                                        new SelectListItem { Value="+809", Text = "Dominican Republic(+809)"},
                                        new SelectListItem { Value="+253", Text = "Djibouti(+253)"},
                                        new SelectListItem { Value="+593", Text = "Ecuador(+593)"},
                                        new SelectListItem { Value="+20", Text = "Egypt(+20)"},
                                        new SelectListItem { Value="+503", Text = "El Salvador(+503)"},
                                        new SelectListItem { Value="+240", Text = "Equatorial Guinea(+240)"},
                                        new SelectListItem { Value="+291", Text = "Eritrea(+291)"},
                                        new SelectListItem { Value="+372", Text = "Estonia(+372)"},
                                        new SelectListItem { Value="+251", Text = "Ethiopia(+251)"},
                                        new SelectListItem { Value="+500", Text = "Falkland Islands(+500)"},
                                        new SelectListItem { Value="+298", Text = "Faroe (Faeroe) Islands (Denmark)(+298)"},
                                        new SelectListItem { Value="+679", Text = "Fiji(+679)"},
                                        new SelectListItem { Value="+358", Text = "Finland(+358)"},
                                        new SelectListItem { Value="+33", Text = "France(+33)"},
                                        new SelectListItem { Value="+596", Text = "French Antilles(+596)"},
                                        new SelectListItem { Value="+594", Text = "French Guiana(+594)"},
                                        new SelectListItem { Value="+241", Text = "Gabon (Gabonese Republic)(+241)"},
                                        new SelectListItem { Value="+220", Text = "Gambia(+220)"},
                                        new SelectListItem { Value="+995", Text = "Georgia(+995)"},
                                        new SelectListItem { Value="+49", Text = "Germany(+49)"},
                                        new SelectListItem { Value="+233", Text = "Ghana(+233)"},
                                        new SelectListItem { Value="+350", Text = "Gibraltar(+350)"},
                                        new SelectListItem { Value="+30", Text = "Greece(+30)"},
                                        new SelectListItem { Value="+299", Text = "Greenland(+299)"},
                                        new SelectListItem { Value="+473", Text = "Grenada/Carricou(+473)"},
                                        new SelectListItem { Value="+671", Text = "Guam(+671)"},
                                        new SelectListItem { Value="+502", Text = "Guatemala(+502)"},
                                        new SelectListItem { Value="+224", Text = "Guinea(+224)"},
                                        new SelectListItem { Value="+245", Text = "Guinea-Bissau(+245)"},
                                        new SelectListItem { Value="+592", Text = "Guyana(+592)"},
                                        new SelectListItem { Value="+509", Text = "Haiti(+509)"},
                                        new SelectListItem { Value="+504", Text = "Honduras(+504)"},
                                        new SelectListItem { Value="+852", Text = "Hong Kong(+852)"},
                                        new SelectListItem { Value="+36", Text = "Hungary(+36)"},
                                        new SelectListItem { Value="+354", Text = "Iceland(+354)"},
                                        new SelectListItem { Value="+91", Text = "India(+91)"},
                                        new SelectListItem { Value="+62", Text = "Indonesia(+62)"},
                                        new SelectListItem { Value="+98", Text = "Iran(+98)"},
                                        new SelectListItem { Value="+964", Text = "Iraq(+964)"},
                                        new SelectListItem { Value="+353", Text = "Ireland (Irish Republic; Eire)(+353)"},
                                        new SelectListItem { Value="+39", Text = "Italy(+39)"},
                                        new SelectListItem { Value="+225", Text = "Ivory Coast (La Cote d&#39;Ivoire)(+225)"},
                                        new SelectListItem { Value="+876", Text = "Jamaica(+876)"},
                                        new SelectListItem { Value="+81", Text = "Japan(+81)"},
                                        new SelectListItem { Value="+962", Text = "Jordan(+962)"},
                                        new SelectListItem { Value="+7", Text = "Kazakhstan(+7)"},
                                        new SelectListItem { Value="+254", Text = "Kenya(+254)"},
                                        new SelectListItem { Value="+855", Text = "Khmer Republic (Cambodia/Kampuchea)(+855)"},
                                        new SelectListItem { Value="+686", Text = "Kiribati Republic (Gilbert Islands)(+686)"},
                                        new SelectListItem { Value="+82", Text = "Korea, Republic of (South Korea)(+82)"},
                                        new SelectListItem { Value="+850", Text = "Korea, People&#39;s Republic of (North Korea)(+850)"},
                                        new SelectListItem { Value="+965", Text = "Kuwait(+965)"},
                                        new SelectListItem { Value="+996", Text = "Kyrgyz Republic(+996)"},
                                        new SelectListItem { Value="+371", Text = "Latvia(+371)"},
                                        new SelectListItem { Value="+856", Text = "Laos(+856)"},
                                        new SelectListItem { Value="+961", Text = "Lebanon(+961)"},
                                        new SelectListItem { Value="+266", Text = "Lesotho(+266)"},
                                        new SelectListItem { Value="+231", Text = "Liberia(+231)"},
                                        new SelectListItem { Value="+370", Text = "Lithuania(+370)"},
                                        new SelectListItem { Value="+218", Text = "Libya(+218)"},
                                        new SelectListItem { Value="+423", Text = "Liechtenstein(+423)"},
                                        new SelectListItem { Value="+352", Text = "Luxembourg(+352)"},
                                        new SelectListItem { Value="+853", Text = "Macao(+853)"},
                                        new SelectListItem { Value="+389", Text = "Macedonia(+389)"},
                                        new SelectListItem { Value="+261", Text = "Madagascar(+261)"},
                                        new SelectListItem { Value="+265", Text = "Malawi(+265)"},
                                        new SelectListItem { Value="+60", Text = "Malaysia(+60)"},
                                        new SelectListItem { Value="+960", Text = "Maldives(+960)"},
                                        new SelectListItem { Value="+223", Text = "Mali(+223)"},
                                        new SelectListItem { Value="+356", Text = "Malta(+356)"},
                                        new SelectListItem { Value="+692", Text = "Marshall Islands(+692)"},
                                        new SelectListItem { Value="+596", Text = "Martinique (French Antilles)(+596)"},
                                        new SelectListItem { Value="+222", Text = "Mauritania(+222)"},
                                        new SelectListItem { Value="+230", Text = "Mauritius(+230)"},
                                        new SelectListItem { Value="+269", Text = "Mayolte(+269)"},
                                        new SelectListItem { Value="+52", Text = "Mexico(+52)"},
                                        new SelectListItem { Value="+691", Text = "Micronesia (F.S. of Polynesia)(+691)"},
                                        new SelectListItem { Value="+373", Text = "Moldova(+373)"},
                                        new SelectListItem { Value="+33", Text = "Monaco(+33)"},
                                        new SelectListItem { Value="+976", Text = "Mongolia(+976)"},
                                        new SelectListItem { Value="+473", Text = "Montserrat(+473)"},
                                        new SelectListItem { Value="+212", Text = "Morocco(+212)"},
                                        new SelectListItem { Value="+258", Text = "Mozambique(+258)"},
                                        new SelectListItem { Value="+95", Text = "Myanmar (former Burma)(+95)"},
                                        new SelectListItem { Value="+264", Text = "Namibia (former South-West Africa)(+264)"},
                                        new SelectListItem { Value="+674", Text = "Nauru(+674)"},
                                        new SelectListItem { Value="+977", Text = "Nepal(+977)"},
                                        new SelectListItem { Value="+31", Text = "Netherlands(+31)"},
                                        new SelectListItem { Value="+599", Text = "Netherlands Antilles(+599)"},
                                        new SelectListItem { Value="+869", Text = "Nevis(+869)"},
                                        new SelectListItem { Value="+687", Text = "New Caledonia(+687)"},
                                        new SelectListItem { Value="+64", Text = "New Zealand(+64)"},
                                        new SelectListItem { Value="+227", Text = "Niger(+227)"},
                                        new SelectListItem { Value="+234", Text = "Nigeria(+234)"},
                                        new SelectListItem { Value="+683", Text = "Niue(+683)"},
                                        new SelectListItem { Value="+850", Text = "North Korea(+850)"},
                                        new SelectListItem { Value="+1670", Text = "North Mariana Islands (Saipan)(+1670)"},
                                        new SelectListItem { Value="+47", Text = "Norway(+47)"},
                                        new SelectListItem { Value="+968", Text = "Oman(+968)"},
                                        new SelectListItem { Value="+92", Text = "Pakistan(+92)"},
                                        new SelectListItem { Value="+680", Text = "Palau(+680)"},
                                        new SelectListItem { Value="+507", Text = "Panama(+507)"},
                                        new SelectListItem { Value="+675", Text = "Papua New Guinea(+675)"},
                                        new SelectListItem { Value="+595", Text = "Paraguay(+595)"},
                                        new SelectListItem { Value="+51", Text = "Peru(+51)"},
                                        new SelectListItem { Value="+63", Text = "Philippines(+63)"},
                                        new SelectListItem { Value="+48", Text = "Poland(+48)"},
                                        new SelectListItem { Value="+351", Text = "Portugal (includes Azores)(+351)"},
                                        new SelectListItem { Value="+1787", Text = "Puerto Rico(+1787)"},
                                        new SelectListItem { Value="+974", Text = "Qatar(+974)"},
                                        new SelectListItem { Value="+262", Text = "Reunion (France)(+262)"},
                                        new SelectListItem { Value="+40", Text = "Romania(+40)"},
                                        new SelectListItem { Value="+7", Text = "Russia(+7)"},
                                        new SelectListItem { Value="+250", Text = "Rwanda (Rwandese Republic)(+250)"},
                                        new SelectListItem { Value="+670", Text = "Saipan(+670)"},
                                        new SelectListItem { Value="+378", Text = "San Marino(+378)"},
                                        new SelectListItem { Value="+239", Text = "Sao Tome and Principe(+239)"},
                                        new SelectListItem { Value="+966", Text = "Saudi Arabia(+966)"},
                                        new SelectListItem { Value="+221", Text = "Senegal(+221)"},
                                        new SelectListItem { Value="+381", Text = "Serbia and Montenegro(+381)"},
                                        new SelectListItem { Value="+248", Text = "Seychelles(+248)"},
                                        new SelectListItem { Value="+232", Text = "Sierra Leone(+232)"},
                                        new SelectListItem { Value="+65", Text = "Singapore(+65)"},
                                        new SelectListItem { Value="+421", Text = "Slovakia(+421)"},
                                        new SelectListItem { Value="+386", Text = "Slovenia(+386)"},
                                        new SelectListItem { Value="+677", Text = "Solomon Islands(+677)"},
                                        new SelectListItem { Value="+252", Text = "Somalia(+252)"},
                                        new SelectListItem { Value="+27", Text = "South Africa(+27)"},
                                        new SelectListItem { Value="+34", Text = "Spain(+34)"},
                                        new SelectListItem { Value="+94", Text = "Sri Lanka(+94)"},
                                        new SelectListItem { Value="+290", Text = "St. Helena(+290)"},
                                        new SelectListItem { Value="+869", Text = "St. Kitts/Nevis(+869)"},
                                        new SelectListItem { Value="+508", Text = "St. Pierre &amp;(et) Miquelon (France)(+508)"},
                                        new SelectListItem { Value="+249", Text = "Sudan(+249)"},
                                        new SelectListItem { Value="+597", Text = "Suriname(+597)"},
                                        new SelectListItem { Value="+268", Text = "Swaziland(+268)"},
                                        new SelectListItem { Value="+46", Text = "Sweden(+46)"},
                                        new SelectListItem { Value="+41", Text = "Switzerland(+41)"},
                                        new SelectListItem { Value="+963", Text = "Syrian Arab Republic (Syria)(+963)"},
                                        new SelectListItem { Value="+689", Text = "Tahiti (French Polynesia)(+689)"},
                                        new SelectListItem { Value="+886", Text = "Taiwan(+886)"},
                                        new SelectListItem { Value="+7", Text = "Tajikistan(+7)"},
                                        new SelectListItem { Value="+255", Text = "Tanzania (includes Zanzibar)(+255)"},
                                        new SelectListItem { Value="+66", Text = "Thailand(+66)"},
                                        new SelectListItem { Value="+228", Text = "Togo (Togolese Republic)(+228)"},
                                        new SelectListItem { Value="690", Text = "Tokelau(+690)"},
                                        new SelectListItem { Value="676", Text = "Tonga(+676)"},
                                        new SelectListItem { Value="+1868", Text = "Trinidad and Tobago(+1868)"},
                                        new SelectListItem { Value="+216", Text = "Tunisia(+216)"},
                                        new SelectListItem { Value="+90", Text = "Turkey(+90)"},
                                        new SelectListItem { Value="+993", Text = "Turkmenistan(+993)"},
                                        new SelectListItem { Value="+688", Text = "Tuvalu (Ellice Islands)(+688)"},
                                        new SelectListItem { Value="+256", Text = "Uganda(+256)"},
                                        new SelectListItem { Value="+380", Text = "Ukraine(+380)"},
                                        new SelectListItem { Value="+971", Text = "United Arab Emirates(+971)"},
                                        new SelectListItem { Value="+44", Text = "United Kingdom(+44)"},
                                        new SelectListItem { Value="+598", Text = "Uruguay(+598)"},
                                        new SelectListItem { Value="+1", Text = "United States(+1)"},
                                        new SelectListItem { Value="+7", Text = "Uzbekistan(+7)"},
                                        new SelectListItem { Value="+678", Text = "Vanuatu (New Hebrides)(+678)"},
                                        new SelectListItem { Value="+39", Text = "Vatican City(+39)"},
                                        new SelectListItem { Value="+58", Text = "Venezuela(+58)"},
                                        new SelectListItem { Value="+84", Text = "Viet Nam(+84)"},
                                        new SelectListItem { Value="+1340", Text = "Virgin Islands(+1340)"},
                                        new SelectListItem { Value="+681", Text = "Wallis and Futuna(+681)"},
                                        new SelectListItem { Value="+685", Text = "Western Samoa(+685)"},
                                        new SelectListItem { Value="+381", Text = "Yemen (People&#39;s Democratic Republic of)(+381)"},
                                        new SelectListItem { Value="+967", Text = "Yemen Arab Republic (North Yemen)(+967)"},
                                        new SelectListItem { Value="+381", Text = "Yugoslavia (discontinued)(+381)"},
                                        new SelectListItem { Value="+243", Text = "Zaire(+243)"},
                                        new SelectListItem { Value="+260", Text = "Zambia(+260)"},
                                        new SelectListItem { Value="+263", Text = "Zimbabwe(+263)"},
                                        new SelectListItem { Value="", Text = "Other"},
                                            },
                                          new { @id = "code", @name= "PostalCode", @class = "form-control", @required = true })

                            @*<input type="text" id="contactNumber" name="contactNumber" class="form-control " required>*@
                            @Html.TextBoxFor(model => model.MobileNo, new { @id = "contactNumber", @type = "text", @maxlength = 20, @minlength = 6, @name = "MobileNo", @class = "form-control", @required = true })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Email Address (*)</label>
                    <div class="col-sm-9">
                        <div>
                            @Html.TextBoxFor(model => model.Email, new { @id = "email",@type="email",@name="Email", @class = "form-control", @required = true })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Confirm Email (*)</label>
                    <div class="col-sm-9">
                        <div>
                            <input type="email" id="ConfirmEmail" name="ConfirmEmail" class="form-control " required>
                            @*@Html.TextBoxFor(model => model.Email, new { @id = "ConfirmEmail", @type = "email", @name ="ConfirmEmail", @class = "form-control", @required = true })*@
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Home Address (*)</label>
                    <div class="col-sm-9">
                        <div>
                            @Html.TextBoxFor(model => model.Address, new { @id = "HomeAddress",@name= "Address", @class = "form-control", @required = true })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Country (*)</label>
                    <div class="col-sm-9">
                        <div>
                            @Html.DropDownListFor(model => model.Country,
                                          new List<SelectListItem> {
                                               new SelectListItem { Value="", Text = "Select country"},
                                                new SelectListItem { Value="AFG", Text = "Afghanistan"},
                                                new SelectListItem { Value="ALB", Text = "Albania"},
                                                new SelectListItem { Value="DZA", Text = "Algeria"},
                                                new SelectListItem { Value="ASM", Text = "American Samoa"},
                                                new SelectListItem { Value="AND", Text = "Andorra"},
                                                new SelectListItem { Value="AGO", Text = "Angola"},
                                                new SelectListItem { Value="AIA", Text = "Anguilla"},
                                                new SelectListItem { Value="ATA", Text = "Antarctica"},
                                                new SelectListItem { Value="ATG", Text = "Antigua and Barbuda"},
                                                new SelectListItem { Value="ARG", Text = "Argentina"},
                                                new SelectListItem { Value="ARM", Text = "Armenia"},
                                                new SelectListItem { Value="ABW", Text = "Aruba"},
                                                new SelectListItem { Value="AUS", Text = "Australia"},
                                                new SelectListItem { Value="AUT", Text = "Austria"},
                                                new SelectListItem { Value="AZE", Text = "Azerbaijan"},
                                                new SelectListItem { Value="BHS", Text = "Bahamas"},
                                                new SelectListItem { Value="BHR", Text = "Bahrain"},
                                                new SelectListItem { Value="BGD", Text = "Bangladesh"},
                                                new SelectListItem { Value="BRB", Text = "Barbados"},
                                                new SelectListItem { Value="BLR", Text = "Belarus"},
                                                new SelectListItem { Value="BEL", Text = "Belgium"},
                                                new SelectListItem { Value="BLZ", Text = "Belize"},
                                                new SelectListItem { Value="BEN", Text = "Benin"},
                                                new SelectListItem { Value="BMU", Text = "Bermuda"},
                                                new SelectListItem { Value="BTN", Text = "Bhutan"},
                                                new SelectListItem { Value="BOL", Text = "Bolivia"},
                                                new SelectListItem { Value="BIH", Text = "Bosnia and Herzegovina"},
                                                new SelectListItem { Value="BWA", Text = "Botswana"},
                                                new SelectListItem { Value="BRA", Text = "Brazil"},
                                                new SelectListItem { Value="VGB", Text = "British Virgin Islands"},
                                                new SelectListItem { Value="BRN", Text = "Brunei Darussalam"},
                                                new SelectListItem { Value="BGR", Text = "Bulgaria"},
                                                new SelectListItem { Value="BFA", Text = "Burkina Faso"},
                                                new SelectListItem { Value="BDI", Text = "Burundi"},
                                                new SelectListItem { Value="KHM", Text = "Cambodia"},
                                                new SelectListItem { Value="CMR", Text = "Cameroon"},
                                                new SelectListItem { Value="CAN", Text = "Canada"},
                                                new SelectListItem { Value="CPV", Text = "Cape Verde"},
                                                new SelectListItem { Value="CYM", Text = "Cayman Islands"},
                                                new SelectListItem { Value="CAF", Text = "Central African Republic"},
                                                new SelectListItem { Value="TCD", Text = "Chad"},
                                                new SelectListItem { Value="CHL", Text = "Chile"},
                                                new SelectListItem { Value="CHN", Text = "China"},
                                                new SelectListItem { Value="COL", Text = "Colombia"},
                                                new SelectListItem { Value="COM", Text = "Comoros"},
                                                new SelectListItem { Value="COK", Text = "Cook Islands"},
                                                new SelectListItem { Value="CRI", Text = "Costa Rica"},
                                                new SelectListItem { Value="CIV", Text = "Cote d&#39;Ivoire"},
                                                new SelectListItem { Value="HRV", Text = "Croatia"},
                                                new SelectListItem { Value="CUB", Text = "Cuba"},
                                                new SelectListItem { Value="CYP", Text = "Cyprus"},
                                                new SelectListItem { Value="CZE", Text = "Czech Republic"},
                                                new SelectListItem { Value="PRK", Text = "Democratic People&#39;s Republic of Korea"},
                                                new SelectListItem { Value="COD", Text = "Democratic Republic of Congo"},
                                                new SelectListItem { Value="DNK", Text = "Denmark"},
                                                new SelectListItem { Value="DJI", Text = "Djibouti"},
                                                new SelectListItem { Value="DMA", Text = "Dominica"},
                                                new SelectListItem { Value="DOM", Text = "Dominican Republic"},
                                                new SelectListItem { Value="TMP", Text = "East Timor"},
                                                new SelectListItem { Value="ECU", Text = "Ecuador"},
                                                new SelectListItem { Value="EGY", Text = "Egypt"},
                                                new SelectListItem { Value="SLV", Text = "El Salvador"},
                                                new SelectListItem { Value="GNQ", Text = "Equatorial Guinea"},
                                                new SelectListItem { Value="ERI", Text = "Eritrea"},
                                                new SelectListItem { Value="EST", Text = "Estonia"},
                                                new SelectListItem { Value="ETH", Text = "Ethiopia"},
                                                new SelectListItem { Value="FRO", Text = "Faeroe Islands"},
                                                new SelectListItem { Value="FLK", Text = "Falkland Islands (Malvinas)"},
                                                new SelectListItem { Value="FJI", Text = "Fiji"},
                                                new SelectListItem { Value="FIN", Text = "Finland"},
                                                new SelectListItem { Value="FRA", Text = "France"},
                                                new SelectListItem { Value="GUF", Text = "French Guiana"},
                                                new SelectListItem { Value="PYF", Text = "French Polynesia"},
                                                new SelectListItem { Value="GAB", Text = "Gabon"},
                                                new SelectListItem { Value="GMB", Text = "Gambia"},
                                                new SelectListItem { Value="GEO", Text = "Georgia"},
                                                new SelectListItem { Value="DEU", Text = "Germany"},
                                                new SelectListItem { Value="GHA", Text = "Ghana"},
                                                new SelectListItem { Value="GIB", Text = "Gibraltar"},
                                                new SelectListItem { Value="GRC", Text = "Greece"},
                                                new SelectListItem { Value="GRL", Text = "Greenland"},
                                                new SelectListItem { Value="GRD", Text = "Grenada"},
                                                new SelectListItem { Value="GLP", Text = "Guadeloupe"},
                                                new SelectListItem { Value="GUM", Text = "Guam"},
                                                new SelectListItem { Value="GTM", Text = "Guatemala"},
                                                new SelectListItem { Value="GIN", Text = "Guinea"},
                                                new SelectListItem { Value="GNB", Text = "Guinea-Bissau"},
                                                new SelectListItem { Value="GUY", Text = "Guyana"},
                                                new SelectListItem { Value="HTI", Text = "Haiti"},
                                                new SelectListItem { Value="VAT", Text = "Holy See"},
                                                new SelectListItem { Value="HND", Text = "Honduras"},
                                                new SelectListItem { Value="HKG", Text = "Hong Kong SAR of China"},
                                                new SelectListItem { Value="HUN", Text = "Hungary"},
                                                new SelectListItem { Value="ISL", Text = "Iceland"},
                                                new SelectListItem { Value="IND", Text = "India"},
                                                new SelectListItem { Value="IDN", Text = "Indonesia"},
                                                new SelectListItem { Value="IRN", Text = "Iran (Islamic Republic of)"},
                                                new SelectListItem { Value="IRQ", Text = "Iraq"},
                                                new SelectListItem { Value="IRL", Text = "Ireland"},
                                                new SelectListItem { Value="ITA", Text = "Italy"},
                                                new SelectListItem { Value="JAM", Text = "Jamaica"},
                                                new SelectListItem { Value="JPN", Text = "Japan"},
                                                new SelectListItem { Value="JOR", Text = "Jordan"},
                                                new SelectListItem { Value="KAZ", Text = "Kazakhstan"},
                                                new SelectListItem { Value="KEN", Text = "Kenya"},
                                                new SelectListItem { Value="KIR", Text = "Kiribati"},
                                                new SelectListItem { Value="KWT", Text = "Kuwait"},
                                                new SelectListItem { Value="KGZ", Text = "Kyrgyzstan"},
                                                new SelectListItem { Value="LAO", Text = "Lao People&#39;s Democratic Republic"},
                                                new SelectListItem { Value="LVA", Text = "Latvia"},
                                                new SelectListItem { Value="LBN", Text = "Lebanon"},
                                                new SelectListItem { Value="LSO", Text = "Lesotho"},
                                                new SelectListItem { Value="LBR", Text = "Liberia"},
                                                new SelectListItem { Value="LBY", Text = "Libya Arab Jamahiriya"},
                                                new SelectListItem { Value="LIE", Text = "Liechtenstein"},
                                                new SelectListItem { Value="LTU", Text = "Lithuania"},
                                                new SelectListItem { Value="LUX", Text = "Luxembourg"},
                                                new SelectListItem { Value="MAC", Text = "Macao SAR of China"},
                                                new SelectListItem { Value="MKD", Text = "Macedonia"},
                                                new SelectListItem { Value="MDG", Text = "Madagascar"},
                                                new SelectListItem { Value="MWI", Text = "Malawi"},
                                                new SelectListItem { Value="MYS", Text = "Malaysia"},
                                                new SelectListItem { Value="MDV", Text = "Maldives"},
                                                new SelectListItem { Value="MLI", Text = "Mali"},
                                                new SelectListItem { Value="MLT", Text = "Malta"},
                                                new SelectListItem { Value="MHL", Text = "Marshall Islands"},
                                                new SelectListItem { Value="MTQ", Text = "Martinique"},
                                                new SelectListItem { Value="MRT", Text = "Mauritania"},
                                                new SelectListItem { Value="MUS", Text = "Mauritius"},
                                                new SelectListItem { Value="MEX", Text = "Mexico"},
                                                new SelectListItem { Value="FSM", Text = "Micronesia (Federated States of)"},
                                                new SelectListItem { Value="MCO", Text = "Monaco"},
                                                new SelectListItem { Value="MNG", Text = "Mongolia"},
                                                new SelectListItem { Value="MSR", Text = "Montserrat"},
                                                new SelectListItem { Value="MAR", Text = "Morocco"},
                                                new SelectListItem { Value="MOZ", Text = "Mozambique"},
                                                new SelectListItem { Value="MMR", Text = "Myanmar"},
                                                new SelectListItem { Value="NAM", Text = "Namibia"},
                                                new SelectListItem { Value="NRU", Text = "Nauru"},
                                                new SelectListItem { Value="NPL", Text = "Nepal"},
                                                new SelectListItem { Value="NLD", Text = "Netherlands"},
                                                new SelectListItem { Value="ANT", Text = "Netherlands Antilles"},
                                                new SelectListItem { Value="NCL", Text = "New Caledonia"},
                                                new SelectListItem { Value="NZL", Text = "New Zealand"},
                                                new SelectListItem { Value="NIC", Text = "Nicaragua"},
                                                new SelectListItem { Value="NER", Text = "Niger"},
                                                new SelectListItem { Value="NGA", Text = "Nigeria"},
                                                new SelectListItem { Value="NIU", Text = "Niue"},
                                                new SelectListItem { Value="NFK", Text = "Norfolk Island"},
                                                new SelectListItem { Value="MNP", Text = "Northern Mariana Islands"},
                                                new SelectListItem { Value="NOR", Text = "Norway"},
                                                new SelectListItem { Value="PSE", Text = "Occupied Palestinian Territory"},
                                                new SelectListItem { Value="OMN", Text = "Oman"},
                                                new SelectListItem { Value="PAK", Text = "Pakistan"},
                                                new SelectListItem { Value="PLW", Text = "Palau"},
                                                new SelectListItem { Value="PAN", Text = "Panama"},
                                                new SelectListItem { Value="PNG", Text = "Papua New Guinea"},
                                                new SelectListItem { Value="PRY", Text = "Paraguay"},
                                                new SelectListItem { Value="PER", Text = "Peru"},
                                                new SelectListItem { Value="PHL", Text = "Philippines"},
                                                new SelectListItem { Value="PCN", Text = "Pitcairn"},
                                                new SelectListItem { Value="POL", Text = "Poland"},
                                                new SelectListItem { Value="PRT", Text = "Portugal"},
                                                new SelectListItem { Value="PRI", Text = "Puerto Rico"},
                                                new SelectListItem { Value="QAT", Text = "Qatar"},
                                                new SelectListItem { Value="COG", Text = "Republic of Congo"},
                                                new SelectListItem { Value="KOR", Text = "Republic of Korea"},
                                                new SelectListItem { Value="MDA", Text = "Republic of Moldova"},
                                                new SelectListItem { Value="REU", Text = "Reunion"},
                                                new SelectListItem { Value="ROM", Text = "Romania"},
                                                new SelectListItem { Value="RUS", Text = "Russian Federation"},
                                                new SelectListItem { Value="RWA", Text = "Rwanda"},
                                                new SelectListItem { Value="SHN", Text = "Saint Helena"},
                                                new SelectListItem { Value="KNA", Text = "Saint Kitts and Nevis"},
                                                new SelectListItem { Value="LCA", Text = "Saint Lucia"},
                                                new SelectListItem { Value="SPM", Text = "Saint Pierre and Miquelon"},
                                                new SelectListItem { Value="VCT", Text = "Saint Vincent and the Grenadines"},
                                                new SelectListItem { Value="WSM", Text = "Samoa"},
                                                new SelectListItem { Value="SMR", Text = "San Marino"},
                                                new SelectListItem { Value="STP", Text = "Sao Tome and Principe"},
                                                new SelectListItem { Value="SAU", Text = "Saudi Arabia"},
                                                new SelectListItem { Value="SEN", Text = "Senegal"},
                                                new SelectListItem { Value="SYC", Text = "Seychelles"},
                                                new SelectListItem { Value="SLE", Text = "Sierra Leone"},
                                                new SelectListItem { Value="SGP", Text = "Singapore"},
                                                new SelectListItem { Value="SVK", Text = "Slovakia"},
                                                new SelectListItem { Value="SVN", Text = "Slovenia"},
                                                new SelectListItem { Value="SLB", Text = "Solomon Islands"},
                                                new SelectListItem { Value="SOM", Text = "Somalia"},
                                                new SelectListItem { Value="ZAF", Text = "South Africa"},
                                                new SelectListItem { Value="ESP", Text = "Spain"},
                                                new SelectListItem { Value="LKA", Text = "Sri Lanka"},
                                                new SelectListItem { Value="SDN", Text = "Sudan"},
                                                new SelectListItem { Value="SUR", Text = "Suriname"},
                                                new SelectListItem { Value="SJM", Text = "Svalbard and Jan Mayen Islands"},
                                                new SelectListItem { Value="SWZ", Text = "Swaziland"},
                                                new SelectListItem { Value="SWE", Text = "Sweden"},
                                                new SelectListItem { Value="CHE", Text = "Switzerland"},
                                                new SelectListItem { Value="SYR", Text = "Syrian Arab Republic"},
                                                new SelectListItem { Value="TWN", Text = "Taiwan"},
                                                new SelectListItem { Value="TJK", Text = "Tajikistan"},
                                                new SelectListItem { Value="THA", Text = "Thailand"},
                                                new SelectListItem { Value="TGO", Text = "Togo"},
                                                new SelectListItem { Value="TON", Text = "Tonga"},
                                                new SelectListItem { Value="TTO", Text = "Trinidad and Tobago"},
                                                new SelectListItem { Value="TUN", Text = "Tunisia"},
                                                new SelectListItem { Value="TUR", Text = "Turkey"},
                                                new SelectListItem { Value="TKM", Text = "Turkmenistan"},
                                                new SelectListItem { Value="TCA", Text = "Turks and Caicos Islands"},
                                                new SelectListItem { Value="TUV", Text = "Tuvalu"},
                                                new SelectListItem { Value="UGA", Text = "Uganda"},
                                                new SelectListItem { Value="UKR", Text = "Ukraine"},
                                                new SelectListItem { Value="ARE", Text = "United Arab Emirates"},
                                                new SelectListItem { Value="GBR", Text = "United Kingdom"},
                                                new SelectListItem { Value="TZA", Text = "United Republic of Tanzania"},
                                                new SelectListItem { Value="USA", Text = "United States"},
                                                new SelectListItem { Value="VIR", Text = "United States Virgin Islands"},
                                                new SelectListItem { Value="URY", Text = "Uruguay"},
                                                new SelectListItem { Value="UZB", Text = "Uzbekistan"},
                                                new SelectListItem { Value="VUT", Text = "Vanuatu"},
                                                new SelectListItem { Value="VEN", Text = "Venezuela"},
                                                new SelectListItem { Value="VNM", Text = "Vietnam"},
                                                new SelectListItem { Value="WLF", Text = "Wallis and Futuna Islands"},
                                                new SelectListItem { Value="ESH", Text = "Western Sahara"},
                                                new SelectListItem { Value="YEM", Text = "Yemen"},
                                                new SelectListItem { Value="YUG", Text = "Yugslavia"},
                                                new SelectListItem { Value="ZMB", Text = "Zambia"},
                                                new SelectListItem { Value="ZWE", Text = "Zimbabwe"},

                                              },
                                              new { @id = "country",@name="Country", @class = "form-control", @required = true })

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Unsubscribe From news/events
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group cache">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div>
                            @* <input type="text" name="Country" class="form-control" required>*@
                            <span>@*<img src="@Url.Content("~/Content/images/cache.jpg")">*@<div id="captcha" class="g-recaptcha" data-sitekey="6LfyHRwTAAAAAEH1xPc1ZsmxE3rSwXOc6fy1MD-i"></div><div><input type="text" name="captchaResponse" id="captchaResponse" style="display:none" required></div></span>
                            @*<a class="refresh" href="#"><i class="fa fa-refresh"></i></a>*@
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @*<div class="col-sm-offset-3 col-sm-9"><a href="@Url.Action("PersonalInformation", "Home")" class="black-but-big">Submit<i class="fa fa-arrow-circle-right"></i></a></div>*@
                    <div class="col-sm-offset-3 col-sm-9"><button type="submit" class="black-but-big">Submit<i class="fa fa-arrow-circle-right"></i></button></div>
                </div>
               //     @Html.HiddenFor(model => model.PropertyId, new { @id = "resourceId" })
                }
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>
    <script>
        $(document).ready(function () {
            $('#ConfirmEmail').bind("cut copy paste", function (e) {
                e.preventDefault();
            });
            $('#email').bind("cut copy paste", function (e) {
                e.preventDefault();
            });
            $('#contactNumber').bind("cut copy paste", function (e) {
                e.preventDefault();
            });

        });
        $("#contactNumber").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything

                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
            
        });
        $("#FirstName").keydown(function (e) {
            var specialKeys = new Array();
            specialKeys.push(8); //Backspace
            specialKeys.push(9); //Tab
            specialKeys.push(46); //Delete
            specialKeys.push(36); //Home
            specialKeys.push(35); //End
            specialKeys.push(37); //Left
            specialKeys.push(39); //Right
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            
            var ret = ((e.which>32 && e.which<48)||(keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (specialKeys.indexOf(e.keyCode) != -1 && e.charCode != e.keyCode));
            if (!ret) {
                e.preventDefault();
            }
            if (keyCode == 111 || keyCode == 106 || keyCode == 109 || keyCode == 107) {
                e.preventDefault();
            }
        });

        $("#LastName").keydown(function (e) {
            var specialKeys = new Array();
            specialKeys.push(8); //Backspace
            specialKeys.push(9); //Tab
            specialKeys.push(46); //Delete
            specialKeys.push(36); //Home
            specialKeys.push(35); //End
            specialKeys.push(37); //Left
            specialKeys.push(39); //Right
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;

            var ret = ((e.which > 32 && e.which < 48) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (specialKeys.indexOf(e.keyCode) != -1 && e.charCode != e.keyCode));
            if (!ret) {
                e.preventDefault();
            }
            if (keyCode == 111 || keyCode == 106 || keyCode == 109 || keyCode == 107) {
                e.preventDefault();
            }
        });

        $('.black-but-big').click(function () {

            var validator = $("#personalInformation").validate({
                ignore: [],
                rules: {
                    FirstName: "required",
                    LastName: "required",
                    PostalCode: "required",
                    MobileNo: { required: true, maxlength: 20, minlength: 6 },
                    Email: { required: true, email: true },
                    ConfirmEmail: { equalTo: "#email", required: true },
                    Country: "required",
                    Address: "required",
                    captchaResponse: "required"
                },
                messages: {
                    Email: {
                        required: "Please enter email.",
                        email: "Please enter valid email."
                    },
                    ConfirmEmail: {
                        equalTo: "Please enter confirm email same as email.",
                        required: "Please enter confirm email.",
                        email: "Please enter valid email."
                    },
                    Country: "Please select country.",
                    FirstName: "Please enter First Name.",
                    LastName: "Please enter Last Name.",
                    PostalCode: "Please select country code.",
                    MobileNo: {
                        required: "Please enter contact number.",
                        minlength: "Please enter 6-20 digits for mobile.",
                        maxlength: "Enter max 20 digits."

                    },
                    Address: "Please enter home address.",
                    captchaResponse: "Please tick on  i'm not a robot."
                },
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent("div")).wrap('<label/>');
                    $('label.error').css('color', '#ff0000');
                }
            });

            var valid = validator.form();
            var CaptchaResponse = null;
            CaptchaResponse = grecaptcha.getResponse(widgetId1);
            if (valid && CaptchaResponse != null && CaptchaResponse != "") {
                $("#personalInformation").submit();
            }
        });

        var widgetId1;
        var onloadCallback = function () {
            $("#captchaResponse").val("");
            var S_Key = '@System.Configuration.ConfigurationManager.AppSettings["captcha_sitekey"]';
            widgetId1 = grecaptcha.render('captcha', {
                'sitekey': S_Key,//'@System.Configuration.ConfigurationManager.AppSettings["captcha_sitekey"]',//'6LfyHRwTAAAAAEH1xPc1ZsmxE3rSwXOc6fy1MD-i',
                'theme': '@System.Configuration.ConfigurationManager.AppSettings["captcha_theme"]',
                'callback': verifyCallback,
            });
        };

        var verifyCallback = function (response) {
            $("#captchaResponse").val("");
            response1 = response;
            $("#captchaResponse").val(response);
        };
        $('#code').change(function () {
            var code = ($('#code option:selected').text().split('(')[0]).trim();
            //alert(code.split('(')[0]);
            if (code != "Other") {
                $("#country option").filter(function () {
                    return this.text == code.split('(')[0];
                }).attr('selected', true);
            }
            else {
                $("#country option").filter(function () {
                    return this.text == "Select country";
                }).attr('selected', true);
            }
        });
    </script>
}