
@{
    ViewBag.Title = "SelectDay";
}


<div class="main-content select-day">
    <div class="row">
        <div class="left-sidebar">

            <div class="page-heading"><h1 class="page-title"><b>Select</b> your date</h1><span class="line"><hr></span></div>
            <div class="date-area">
                @if (SessionVariables.Date == null)
                {
                    <span id="day" class="day">@DateTime.Now.DayOfWeek</span>
                    <span id="date" class="date">@DateTime.Now.ToString("dd")</span>
                    <span id="mnt" class="month">@DateTime.Now.ToString("MMMM")</span>
                }
                else
                {
                    <span id="day" class="day">@(SessionVariables.Date.Value.DayOfWeek)</span>
                    <span id="date" class="date">@(SessionVariables.Date.Value.ToString("dd"))</span>
                    <span id="mnt" class="month">@(SessionVariables.Date.Value.ToString("MMMM"))</span>
                }
            </div>
            @using (Html.BeginForm("SelectDay", "Home"))
            {   
                <div style="display:none;">
                    <input id="datepickerDate" name="datepickerDate" type="text" value="@(SessionVariables.Date != null ? SessionVariables.Date.Value.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd"))">
                </div>
                <button type="submit" class="black-but-big">Next<i class="fa fa-arrow-circle-right"></i></button>                
            }
            <a href="@Url.Action("Index", "Home")" class="black-but-big back-but">Back<i class="fa fa-arrow-circle-left"></i></a>
        </div>
        <div class="right-sidebar">
            @*<span class="text-label">SELECT THE DAY OF YOUR VISIT</span>*@
            <div class="calendar-block">
                <form action="javascript:void(0)" method="post">
                    <div id="datepicker"></div>
                </form>
            </div>

        </div>
    </div>
</div>

@section scripts{    
    <script type="text/javascript" src="@Url.Content("~/Scripts/zebra_datepicker.js")"></script>
    <script>
        var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        var weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

        $('#datepickerDate').Zebra_DatePicker({
            //format: 'm-d-Y',
            always_visible: $('#datepicker'),
            direction: ['@DateTime.Now.ToString("yyyy-MM-dd")', '@DateTime.Now.AddDays(30).ToString("yyyy-MM-dd")'],

            onSelect: function (view, elements, date) {
                $('.date').text(date.getDate());
                $('.month').text(monthNames[date.getMonth()]);
                $('.day').text(weekdays[date.getDay()]);
                
                
            }
        });

        //$(document).ready(function () {
        //    $('.dp_current').css({
        //        backgroundColor: '#CFA370',
        //        fontWeight: '700',
        //        color: '#FFF'
        //    });

            //$('.Zebra_DatePicker .dp_daypicker td').click(function () {
            //    $(this).css({
            //        backgroundColor: '#CFA370',
            //        fontWeight: '700',
            //        color: '#FFF'
            //    });
            //});
        //});
    </script>


}

