@model IEnumerable<BurjKhalifa.Models.ResourceTimeslots>
@{
    ViewBag.Title = "SelectTime";
}

<div class="main-content">
    <div class="row">
        <div class="left-sidebar">
            <div class="page-heading"><h1 class="page-title"><b>Select</b> Time Of Entry</h1><span class="line"><hr></span></div>
            <p>AVAILABILITY FOR</p>
            <div class="date-area">
                <span class="att"> @SessionVariables.AttrationName.ToString()</span>
                      @if (SessionVariables.Date != null) { <span id="day" class="day">@(SessionVariables.Date.Value.DayOfWeek)</span>
                    <span id="date" class="date">@(SessionVariables.Date.Value.ToString("dd"))</span>
                    <span id="mnt" class="month">@(SessionVariables.Date.Value.ToString("MMMM"))</span>
                }
                <a href="javascript:void(0);" class="changedate   prev black-but-big "><img src="~/Content/images/button_arrow_left_white2.png" width="40" height="90" /> <i class="leftArrow "></i></a>
                <a href="javascript:void(0);" class="changedate   next black-but-big "><img src="~/Content/images/button_arrow_right_white2.png" width="40" height="90" /><i class="rightArrow"></i></a>

            </div>
            

                @*<button type="button" class="btn btn-default">Button 1</button>
                <button type="button" class="btn btn-default">Button 2</button>
                <button type="button" class="btn btn-default">Button 3</button>*@

            
            <a href="@Url.Action("Attraction", "Home")" class="black-but-big back-but">Back<i class="fa fa-arrow-circle-left"></i></a>

        </div>
        <div class="right-sidebar numbers-section select-time-entry">
            @*<p><b>Selected attraction : @SessionVariables.AttrationName.ToString()</b></p>*@
            <p style="color:#ff0000;"><b>@ViewBag.message</b></p>
            @foreach (var items in Model)
            {
                <div class="number-block">
                    @*<label class="label-name">@items.StartDateTime.ToShortTimeString()</label>*@
                    @if (items.Available == 0)
                    {
                        <label class="label-name" style="color:#ff0000;">@items.StartDateTime.ToShortTimeString()</label>
                        <div class="select-box"><input class="black-but" available="@items.Available" data-toggle="modal" data-target="#exampleModal" eventID="@items.EventID" StartDateTime="@items.StartDateTime.ToString("HH:mm")" EndDateTime="@items.EndDateTime.ToString("HH:mm")" resourceId="@items.ResourceID" name="" type="submit" value="Sold Out" disabled></div>
                    }
                    else
                    {
                        <label class="label-name">@items.StartDateTime.ToShortTimeString()</label>
                        <div class="select-box"><input class="black-but" available="@items.Available" data-toggle="modal" data-target="#exampleModal" eventID="@items.EventID" StartDateTime="@items.StartDateTime.ToString("HH:mm")" EndDateTime="@items.EndDateTime.ToString("HH:mm")" resourceId="@items.ResourceID" name="" type="submit" value="Select"></div>
                    }
                    @*<div class="select-box"><input class="black-but" name="" type="submit" value="Select"></div>*@
                    <div class="clearfix"></div>
                </div>
            }            
        </div>
        @using (Html.BeginForm("SelectTime", "Home", FormMethod.Post, new { @id = "SelectTime" }))
        {
            @Html.Hidden("StartTime")
            @Html.Hidden("EndTime")
            @Html.Hidden("Availalbe")
            @Html.Hidden("TimeSlotId")
            @Html.Hidden("IsPromotion")
        }
        @using (Html.BeginForm("DateChange", "Home", FormMethod.Post, new { @id = "DateChange" }))
        {
            @Html.Hidden("datepickerDate")
        }
    </div>
</div>

<div class="bd-example">
    
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        
                    </button>
                    <h4>You have selected the following Visit Date & Time.</h4>
                </div>
                <div class="modal-body">
                    <div class="gray_block">
                        <b>
                            @if (SessionVariables.Date != null)
                            {
                                <span>Day :@(SessionVariables.Date.Value.ToString("dddd, dd MMMM yyyy"))</span>
                                <br />
                            }
                            
                                <span class="time"></span>@*AT @DateTime.Now.Date.AddTicks(SessionVariables.StartTime.Ticks).ToString("hh:mm tt")*@
                                <br />
                            
                            <span class="attraction">@SessionVariables.AttrationName</span><br>
                            <span class="promotions">@SessionVariables.PromotionTitle</span>
                            
                        </b>
                        @*<p style="font:100;">You may experience queuing along the journey to the deck, visit can last upto two hours.</p>*@
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="confirm" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
    <script>
        $('.black-but').click(function () {

            var SelectedTime = $(this).attr("StartDateTime")
            var EndTime = $(this).attr("EndDateTime");
            var available = $(this).attr("available");
            var timeSlotId = $(this).attr("eventID");
            $('.time').text("Time : " + SelectedTime);

            $("#StartTime").val(SelectedTime);
            $("#EndTime").val(EndTime);
            $("#Availalbe").val(available);
            $("#TimeSlotId").val(timeSlotId);
        });





        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var recipient = button.data('whatever') // Extract info from data-* attributes
            var modal = $(this)

        })
        $('#confirm').click(function () {
            $("#IsPromotion").val(true);
            $("#SelectTime").submit();
        });


        $('.next').click(function () {
            var date= '@SessionVariables.Date.Value.AddDays(1).DayOfWeek';
            $('.date').text('@SessionVariables.Date.Value.AddDays(1).Date.ToString("dd")');
            $('.month').text('@SessionVariables.Date.Value.AddDays(1).Date.ToString("MMMM")');
            $('.day').text('@SessionVariables.Date.Value.AddDays(1).DayOfWeek');
            @*$(this).text('@SessionVariables.Date.Value.AddDays(2).Date.ToString("dd")');
            $('.prev').text('@SessionVariables.Date.Value.ToString("dd")');*@
            $('#datepickerDate').val('@SessionVariables.Date.Value.AddDays(1).ToString("yyyy-MM-dd")');

            $('#DateChange').submit();

        });

        $('.prev').click(function () {
            var date= '@SessionVariables.Date.Value.AddDays(1).DayOfWeek';
            $('.date').text('@SessionVariables.Date.Value.AddDays(-1).Date.ToString("dd")');
            $('.month').text('@SessionVariables.Date.Value.AddDays(-1).Date.ToString("MMMM")');
            $('.day').text('@SessionVariables.Date.Value.AddDays(-1).DayOfWeek');
            @*$(this).text('@SessionVariables.Date.Value.AddDays(-2).Date.ToString("dd")');
            $('.next').text('@SessionVariables.Date.Value.ToString("dd")');*@
            $('#datepickerDate').val('@SessionVariables.Date.Value.AddDays(-1).ToString("yyyy-MM-dd")');
            $('#DateChange').submit();

        });
    </script>

}