@model IEnumerable<BurjKhalifa.Models.Ticket>
@{
    ViewBag.Title = "SelectTicket";
    Int32 grandtotal = 0;
    Int32 total = 0;
}
<div class="main-content">
    <div class="row">
        <div class="left-sidebar">
            <div class="page-heading select-ticket"><h1 class="page-title"><b>Select N°</b> of tickets</h1><span class="line"><hr></span></div>
            @*<p class="time">1 : 00 PM</p>*@
            <div class="date-area">
                <span class="att"> @SessionVariables.AttrationName.ToString()</span>
                @if (SessionVariables.Date != null)
                {
                    <span id="day" class="day">@(SessionVariables.Date.Value.DayOfWeek)</span>
                    <span id="date" class="date">@(SessionVariables.Date.Value.ToString("dd"))</span>
                    <span id="mnt" class="month">@(SessionVariables.Date.Value.ToString("MMMM"))</span>
                }
                @if (SessionVariables.Availalbe > 0)
                {
                    <span class="time">AT @DateTime.Now.Date.AddTicks(SessionVariables.StartTime.Ticks).ToString("hh:mm tt")</span>
                }
            </div>
            <a href="@Url.Action("PersonalInformation","Home")" class="black-but-big back-but">Back<i class="fa fa-arrow-circle-left"></i></a>

        </div>
        <div class="right-sidebar secect-your-ticket">
            <p>To continue, please key in the required number of tickets for each ticket type. The total ticket price will be updated automatically.</p>
            <p>Please note due to the current availability you can now book up to <strong>10 ticket</strong></p>
            <p>Please select at least one Adult ticket when purchasing a Child or Infant ticket. You may book up to <strong>5 infant ticket</strong></p>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="type1 ctrl">TYPE</th>
                            <th class="type2 ctrl">QUANTITY</th>
                            <th class="type3 ctrl"></th>
                            <th class="type4 ctrl">PRICE PER TICKET</th>
                            <th class="type5 ctrl"></th>
                            <th class="type6 ctrl">FEE PER TICKET</th>
                            <th class="type7 ctrl"></th>
                            <th class="type8 ctrl">TOTAL PRICE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.TicketQuantity> 0)
                            {
                                total = (item.TicketQuantity * (Int32)item.i_TicketPrice) + (Int32)item.i_BookingFee;
                            }
                            else
                            {
                                total = 0;
                            }

                            grandtotal = (Int32)grandtotal + (Int32)total;

                            <tr type="Ticket" name="@item.c_TicketTypeCode" ticketID="@item.i_ticketTypeId" Code="@item.v_code" call="Ticket" propertyID="@item.i_propertyId">
                                <td>
                                    <span>@item.v_TicketTypeDesc</span>
                                </td>
                                <td class="ctrl">
                                    <div class="select-box">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                @if (item.i_TicketPrice != 0)
                                                {
                                                    <button type="button" class="btn btn-default btn-number"  data-type="minus" data-field="@item.c_TicketTypeCode">
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="@item.c_TicketTypeCode">
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    </button>
                                                }
                                                
                                            </span>      
                                            @if (item.c_TicketTypeCode == "adult")
                                            {
                                                <input type="text" title="ticket" name="@item.c_TicketTypeCode" class="form-control input-number" value="@item.TicketQuantity" min="1" max="@SessionVariables.Availalbe">
                                            }
                                            else
                                            {
                                                <input type="text" title="ticket" name="@item.c_TicketTypeCode" class="form-control input-number" value="@item.TicketQuantity" min="0" max="@SessionVariables.Availalbe">
                                            }
                                            
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="@item.c_TicketTypeCode">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td>X</td>
                                <td name="price" class="ctrl">
                                    <span>AED <span>@item.i_TicketPrice</span></span>
                                </td>
                                <td>+</td>
                                <td name="fee" class="ctrl">
                                    <span>AED <span>@item.i_BookingFee</span></span>
                                </td>
                                <td>=</td>
                                <td name="amount" class="ctrl">
                                    <span id="resultA">AED <span>@total</span></span>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="total-info">
                Grand Total = <span id="resultG">AED <span>@grandtotal</span></span>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="confirm" id="confirm" required>I confirm my visit date and time
                </label>
            </div>

            <a href="javascript:void(0);" class="black-but-big next">PROCEED FOR PAYMENT<i class="fa fa-arrow-circle-right"></i></a>

        </div>

        @using (Html.BeginForm("SelectTicket", "Home", FormMethod.Post, new { @id = "SelectTicket" }))
        {
            @Html.Hidden("AdultTicket")
            @Html.Hidden("ChildTicket")
            @Html.Hidden("InfantTicket")
        }
    </div>
</div>


@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script>    
        var totalTicket = 0;
        $('.btn-number').click(function (e) {
            e.preventDefault();
            
            fieldName = $(this).attr('data-field');
            type = $(this).attr('data-type');
            var input = $("input[name='" + fieldName + "']");
            var currentVal = parseInt(input.val());
            var Price = $(this).parents('tr[type="Ticket"]').find('td[name=price]>span>span').text().trim();
            var Fee = $(this).parents('tr[type="Ticket"]').find('td[name=fee]>span>span').text().trim();

            if (Price == "") {
                Price = 0;
            }
            if (Fee == "") {
                Fee = 0;
            }
            if (!isNaN(currentVal)) {
                if (type == 'minus') {

                    if (totalTicket > input.attr('min')) {
                        input.val(currentVal - 1).change();
                        if ((currentVal-1) != 0) {
                            var amount = ((currentVal - 1) * eval(Price)) + ((currentVal - 1)*eval(Fee));
                        }
                        else
                        {
                            var amount = 0;
                        }
                        $(this).parents('tr').find('td[name=amount]>span>span').text(amount);
                        
                    }
                    if (parseInt(input.val()) == input.attr('min') && parseInt(input.val())<=0) {
                        $(this).attr('disabled', true);
                    }

                } else if (type == 'plus') {

                    if (totalTicket < input.attr('max')) {
                        input.val(currentVal + 1).change();
                        
                        var amount = ((currentVal + 1) * eval(Price)) +((currentVal + 1) * eval(Fee));
                        $(this).parents('tr').find('td[name=amount]>span>span').text(amount);

                    }
                    if (parseInt(input.val()) == input.attr('max')) {
                        $(this).attr('disabled', true);
                    }
                    
                }

                var adult = $($(document).find('td[name=amount]>span>span')[0]).text().trim();
                var child = $($(document).find('td[name=amount]>span>span')[1]).text().trim();
                var infant = $($(document).find('td[name=amount]>span>span')[2]).text().trim();
                if (child == "") {
                    child = 0;
                }
                if (infant == "") {
                    infant = 0;
                }
                $('div.total-info>span>span').text(eval(adult) + eval(child) + eval(infant));
                

            } else {
                input.val(0);
            }
        });
        $('.input-number').focusin(function () {
            $(this).data('oldValue', $(this).val());
        });
        var ele="";
        $('.input-number').change(function () {
            
            minValue = parseInt($(this).attr('min'));
            maxValue = parseInt($(this).attr('max'));
            valueCurrent = parseInt($(this).val());
            var adult = "";
            var child = ""
            var infant = "";
            totalTicket = 0;
            var totalprice = 0;
            var length = $('input[title=ticket]').length;
            for (var i = 1; i <= length; i++)
            {
                var no = $($('input[title=ticket]')[length - i]).val()
                totalTicket = totalTicket + eval(no);
               
            }
            
            name = $(this).attr('name');
            if (totalTicket >= minValue ) {
                $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the minimum value was reached');
                totalTicket = totalTicket + eval($(this).val());
                $(this).val($(this).data('oldValue'));
            }
            if (totalTicket <= maxValue ) {
                $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the maximum value was reached');
                totalTicket = totalTicket - eval($(this).val());
                $(this).val($(this).data('oldValue'));
            }

            for (var i = 1; i <= length; i++) {
                var input = $($(document).find('input[title=ticket]')[length - i]);
                if (totalTicket == eval(input.attr('min')) || input.val() <= input.attr('min')) {
                    input.val(input.attr('min'));
                    $($(document).find('td button[data-type=minus]')[length - i]).attr('disabled', true);
                }
                else
                {
                    $($(document).find('td button[data-type=minus]')[length - i]).removeAttr('disabled');
                }
                
                var ticketprice = $($(document).find('td[name=price]>span>span')[length - i]).text().trim();
                var ticketFee = $($(document).find('td[name=fee]>span>span')[length - i]).text().trim();
                var tickets = $($(document).find('input[title=ticket]')[length - i]).val();

                $($(document).find('td[name=amount]>span>span')[length - i]).text((eval(ticketprice) * eval(tickets)) + (eval(tickets) * eval(ticketFee)));
                var adult = $($(document).find('td[name=amount]>span>span')[length - i]).text().trim();
                if (adult == "") {
                    adult = 0;
                }
                totalprice = eval(totalprice) + eval(adult);

            }

            $('div.total-info>span>span').text(totalprice);
        });
        $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        $('.next').click(function () {

            var AdultTicket = $('tr[name=adult] input').val();
            var childTicket = $('tr[name=child] input').val();
            var infantTicket = $('tr[name=infant] input').val();

            var c = $('#confirm').is(':checked');
            if ($('#confirm').is(':checked')) {
                var AdultTicket = $('tr[name=adult] input').val();
                var childTicket = $('tr[name=child] input').val();
                var infantTicket = $('tr[name=infant] input').val();
                $("#AdultTicket").val(AdultTicket);
                $("#ChildTicket").val(childTicket);
                $("#InfantTicket").val(infantTicket);

                $("#SelectTicket").submit();                
            }
            else {
                $('div.checkbox>label').css('color', '#F00');
            }            
        });
        $('#confirm').click(function () {
            if ($('#confirm').is(':checked')) {
                $('div.checkbox>label').css('color', '#000');
            }
            else {
                $('div.checkbox>label').css('color', '#F00');
            }
        });
    </script>
}
