
@{
    ViewBag.Title = "Thankyou";
}

<div class="main-content">
    <div class="row">
        <div class="left-sidebar">
            <div class="page-heading"><h1 class="page-title"><b>Thank</b> You</h1><span class="line"><hr></span></div>
        </div>
        <div class="right-sidebar thank-you">
            @*div  for show text in  responsive view*@
            <div class="fb-info-mobile">
                <div class="text-label">Thank you for your purchase.</div>
                <div class="text-label text-label2">Your Confirmation Number is @ViewBag.ConformNo</div>
                <div class="text-label">An email confirming your purchase will be sent to you shortly. We look forward seeing you soon.</div>
            </div>
            @*Ent div*@
            <div class="profile-info">
                <label class="small-text">#BurjKhalifa</label>
                <div class="profile-image"><img id="profilepic" class="img-responsive" src="" alt=""></div> @*@Url.Content("~/Content/images/profile-photo.jpg")*@
                <div class="profile-details">
                    <div id="follow-text">Follow me to @ViewBag.attraction</div>

                    <div id="date-info">on @ViewBag.date</div>
                </div>
            </div>
            <div class="right_block">
                
                <div class="alert alert-success">
                    <div class="alert-link">Successfully shared on Facebook!</div>
                </div>
                <div class="alert alert-danger">
                    <div class="alert-link">Sorry, System is not able to share on facebook at this time !</div>
                </div>


                <div class="text-label">Thank you for your purchase.</div>
                <div class="text-label text-label2">Your Confirmation Number is @ViewBag.ConformNo</div>


                <div class="text-label">An email confirming your purchase will be sent to you shortly. We look forward seeing you on:</div>
                <br />
                <div class="gray_block">
                    
                    <b>

                        
                        <br />

                        <span class="time">AT @ViewBag.time</span>
                        <br />
                        <span class="">
                            To experience the following attraction:</span>
                            <span class="attraction">@ViewBag.attraction</span><br>
                            <span class="promotions">@ViewBag.Promotion</span>
</b>
                </div>

                <a href="javascript:void(0);" onclick="share_with_your_friends();"  class="black-but-big shareFb"><i class="fa fa-facebook fbicon"></i>share with your friends</a>


            </div>
            <div class="clearfix"></div>



        </div>
    </div>

</div>


@*popup*@


@section scripts{


    <script>
        @*var vDate = '@ViewBag.date';
        var attraction = '@ViewBag.attraction';
        var Time = '@ViewBag.Time';
        var AttractionPhotoLink = '';
        AttractionPhotoLink = 'https://tickets.atthetop.ae/FBApp/Content/images/At_the_top_Burj_Khalifa_sky.jpg';*@
        //console.log(attraction);
        //if (attraction == 'At the Top, Burj Khalifa SKY')
        //{
        //    //attraction = 'At the Top Burj Khalifa Sky';
        //    AttractionPhotoLink = 'https://tickets.atthetop.ae/FBApp/Content/images/At_the_top_Burj_Khalifa_sky.jpg';
        //}
        //if (attraction == 'At the Top, Burj Khalifa')
        //{
        //    //attraction = 'At the Top Burj Khalifa';
        //    AttractionPhotoLink = 'https://tickets.atthetop.ae/FBApp/Content/images/At_the_top_Burj_Khalifa.jpg';
        //}
        //if (attraction == 'Dubai Fountain Lake Ride')
        //{
        //    //attraction = 'Dubai Fountain Lake Ride';
        //    AttractionPhotoLink = 'https://tickets.atthetop.ae/FBApp/Content/images/Dubai_Fountain_Lake_Ride.jpg';
        //}
        var vDate = '@ViewBag.date';
        var attraction = '@ViewBag.attraction';
        var attractionNo = '@SessionVariables.AttractionID';
        var Time = '@ViewBag.Time';
        var AttractionPhotoLink = '';
        // AttractionPhotoLink = 'https://tickets.atthetop.ae/FBApp/Content/images/At_the_top_Burj_Khalifa_sky.jpg';
        var FBPost = "";
        var commonPostLine1 = "";
        var commonPostLine2 = "";
        console.log(attractionNo + ">" + attraction);
        if (attractionNo == 1)//'At the Top, Burj Khalifa SKY')
        {
            commonPostLine1 = "Join me to the top of the world!";
            commonPostLine2 = "I'm going to the @@AttheTopBurjKhalifa SKY on " + vDate + " and you could be there too!";
            //attraction = 'At the Top Burj Khalifa Sky';
            FBPost = "#DidYouKnow , soaring high at 555 meters, At the Top, Burj Khalifa SKY is the Guinness World Record holder for the highest observation deck in the world. Join me to explore breathtaking views from L148 of Burj Khalifa, complete with a stylish lounge and an outdoor terrace."
            AttractionPhotoLink = 'https://tickets.atthetop.ae/FBApp/Content/images/slider-img0.jpg';//'https://tickets.atthetop.ae/FBApp/Content/images/At_the_top_Burj_Khalifa_sky.jpg';
        }
        if (attractionNo == 2)//'At the Top, Burj Khalifa')
        {
            commonPostLine1 = "Join me to the top of the world!";
            commonPostLine2 = "I'm going to the @@AttheTopBurjKhalifa on " + vDate + " and you could be there too.";
            FBPost = "Join me as I cruise on the world’s fastest double deck elevators, travelling at an incredible 10m/s! Feel on top of the world, as you step on to an outdoor terrace over 452m in the sky.";
            //attraction = 'At the Top Burj Khalifa';
            AttractionPhotoLink = 'https://tickets.atthetop.ae/FBApp/Content/images/slider-img0.jpg';//'https://tickets.atthetop.ae/FBApp/Content/images/At_the_top_Burj_Khalifa.jpg';
        }
        if (attractionNo == 3)//'Dubai Fountain Lake Ride')
        {
            commonPostLine1 = "Join me for the ultimate ride of a lifetime!I will be there " + vDate + " and " + Time + "  you you to get up close to the iconic Burj Khalifa on board the @@DubaiFountain Lake Ride.";
            //commonPostLine2 = "Get up close to the iconic Burj Khalifa on The Dubai Fountain Lake Ride";
            FBPost = "Equivalent to the size of two football fields, The Dubai Fountain is the world’s largest performing fountain.\n\n Set sail on a unique ride on the Burj Lake, on board a traditional Abra. View this visual spectacle as it shoots water jets to height of a 50-storey tower, while performing to your favourite melodies.";
            //attraction = 'Dubai Fountain Lake Ride';
            AttractionPhotoLink = 'https://tickets.atthetop.ae/FBApp/Content/images/slider-img3.jpg';//'https://tickets.atthetop.ae/FBApp/Content/images/Dubai_Fountain_Lake_Ride.jpg';//
        }
        // Dubai Fountain
        //https://tickets.atthetop.ae/FBApp/Content/images/At_the_top_Burj_Khalifa_sky.jpg
        //https://tickets.atthetop.ae/FBApp/Content/images/At_the_top_Burj_Khalifa.jpg
        //https://tickets.atthetop.ae/FBApp/Content/images/Dubai_Fountain_Lake_Ride.jpg
        function share_with_your_friends() {
            console.log("accessToken2: " + accessToken)

            FB.api(
                   "/me/feed?access_token=" + accessToken,
                   "POST",
                   {
                       //access_token: accessToken,
                       "message": "Follow me to " + attraction + " on:\n " + vDate + " AT " + Time + ".\n\n" + commonPostLine1 + "\n" + commonPostLine2 + "\n\n" + FBPost,
                       //"message": commonPostLine1 + "\n" + commonPostLine2 + "\n\n" + FBPost,
                       link: 'https://apps.facebook.com/burjkhalifatickets/',
                       // "picture": 'https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSyINalR3AwGQWH7vB7oPFMy40zg-9HWRCAlnbkG_KEtSKXkQf9',
                       // access_token: '297311063959457|fjmVxwR43tTarmMw3ahvnNgR9SM', //

                   },
                   function (response) {
                       if (response && !response.error) {
                           /* handle the result */
                           //alert("Successfully share on Facebook!");
                           $('.alert-success').fadeIn(1000).fadeOut(10000);
                       }
                       else {
                           console.log(response.error);
                           $('.alert-danger').fadeIn(1000).fadeOut(10000);
                       }
                   }
            //{scope: 'publish_actions'}
               );

            FB.api(
                   "/me/feed?picture",
                   "POST",
                   {
                       //access_token: accessToken,AT
                       //"message": "Follow me to " + attraction + " on:\n " + vDate + " AT " + Time + ".\n\n " + commonPostLine1 + " \n" + commonPostLine2 + "\n\n" + FBPost,
                       "message": commonPostLine1 + "\n" + commonPostLine2 + "\n\n" + FBPost,
                       link: 'https://apps.facebook.com/burjkhalifatickets/',//'https://tickets.atthetop.ae/FBApp/',
                       "picture": AttractionPhotoLink,

                      

                   },
                   function (response) {
                       if (response && !response.error) {
                           /* handle the result */
                           //alert("Successfully share photo on Facebook!");
                           $('.alert-success').fadeIn(1000).fadeOut(10000);
                       }
                       else {
                           console.log(response.error);
                           $('.alert-danger').fadeIn(1000).fadeOut(10000);
                       }
                   }
            //{scope: 'publish_actions'}
               );

        }


        $(document).ready(function () {
            $('.alert-danger').hide();
            $('.alert-success').hide();
            if('@ViewBag.Title'=='Thankyou')
            {
                $('li.last').addClass('done');
            }
            $('li.done a b').text('');
        });
</script>
}