
@{
    ViewBag.Title = "TowerAttraction";
}




<div class="main-attraction">
<div class="main-content tower-page select-attraction">
        <div class="left-sidebar">
            <div class="page-heading"><h1 class="page-title"><b>Select </b>Attraction</h1><span class="line"><hr></span></div>
            <p>AVAILABILITY FOR</p>
            <div class="date-area">
                    <span id="day" class="day">Wednesday</span>
                    <span id="date" class="date">27</span>
                    <span id="mnt" class="month">April</span>
            </div>
            <a href="/burjkhalifa/SelectDay" class="black-but-big back-but">Back<i class="fa fa-arrow-circle-left"></i></a>
        </div>
        <div class="right-sidebar">
            <div id="tower" class="tower-img">
                <div class="tower-info info1"><a href="#">At the Top<br> Burj Khalifa SKY  </a></div>
                <div class="tower-info info2 "><a href="#">At the Top<br> Burj Khalifa </a></div>
                <div class="tower-info info3 "><a href="#">Dubai Fountain Lake Ride </a></div>
            </div>
        </div>
		<div class="clearfix"></div>
</div>


<div class="main-content attraction-page"><div class="row">
	<div class="right-sidebar">
		<div id="burjkhalifa-tower" class="carousel slide" data-ride="carousel">
		  <div class="left-sidebar">
		  <div class="tower-img">
            <!-- Indicators -->
          	<ol class="carousel-indicators">
            	<li class="active attraction-tower-info tab1" data-target="#burjkhalifa-tower" data-slide-to="0"><span>At The Top Burj<br> Khalifa SKY</span></li>
            	<li class="attraction-tower-info tab2" data-target="#burjkhalifa-tower" data-slide-to="1"><span>At The Top<br> Burj Khalifa</span></li>
            	<li class="attraction-tower-info tab3" data-target="#burjkhalifa-tower" data-slide-to="2"><span>Lake Ride </span> </li>
          </ol>
			</div></div>
		  <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item item1 active">
              <div class="page-heading"><h1 class="page-title">At The Top <b>Burj Khalifa SKY</b></h1><span class="line"><hr></span><span class="code">L148 + L125</span></div>
              <div class="carousel-caption">
				<p>Visit the world's highest outdoor observation deck with an outdoor terrace.<br>
				Get escorted to the SKY lounge for complimentary refreshments.</p><br>
				<strong>Image Gallery</strong>
				<ul class="image-gallery">
					<li><img class="img-responsive" src="@Url.Content("~/Content/images/gallery-img1.jpg")" alt=""></li>
					<li><img class="img-responsive" src="@Url.Content("~/Content/images/gallery-img2.jpg")" alt=""></li>
					<li><img class="img-responsive" src="@Url.Content("~/Content/images/gallery-img3.jpg")" alt=""></li>
					<li><img class="img-responsive" src="@Url.Content("~/Content/images/gallery-img4.jpg")" alt=""></li>
				</ul>
				<div class="btn-block"><a eventid="19" resourceid="47" href="javascript:void(0)" name="At the Top Sky" class="btn attraction">SELECT THIS ATTRACTION</a></div>
              </div>
            </div>
            <div class="item item2">
              <div class="page-heading"><h1 class="page-title">At The Top <b>Burj Khalifa</b></h1><span class="line"><hr></span><span class="code">L124</span></div>
              <div class="carousel-caption">
				<p>Experience 360 degree sweeping views from level 124, including an outdoor terrace.</p><br>
				<strong>Image Gallery</strong>
				<ul class="image-gallery">
					<li><img class="img-responsive" src="@Url.Content("~/Content/images/gallery-img5.jpg")" alt=""></li>
					<li><img class="img-responsive" src="@Url.Content("~/Content/images/gallery-img6.jpg")" alt=""></li>
					<li><img class="img-responsive" src="@Url.Content("~/Content/images/gallery-img7.jpg")" alt=""></li>
					<li><img class="img-responsive" src="@Url.Content("~/Content/images/gallery-img8.jpg")" alt=""></li>
				</ul>
				<div class="btn-block"><a eventid="19" resourceid="47" href="javascript:void(0)" name="At the Top Sky" class="btn attraction">SELECT THIS ATTRACTION</a></div>
              </div>
            </div>
			<div class="item item3">
              <div class="page-heading"><h1 class="page-title">Dubai Fountain Lake Ride</h1><span class="line"><hr></span></div>
              <div class="carousel-caption">
                <p>Set sail on a traditional Abra ride and witness the world's largest performing fountains up close.</p>
				<div class="btn-block"><a eventid="19" resourceid="47" href="javascript:void(0)" name="At the Top Sky" class="btn attraction">SELECT THIS ATTRACTION</a></div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div></div>
</div>

@section scripts{
    <script>
        $('.tower-info').click(function () {
            $('.tower-info').removeClass('active');
            $(this).addClass('active');
			return false
        });
		
		$('.carousel').carousel({
			interval: false
		}); 
    </script>
	
	<script>
		$(document).ready(function() {
			$('.tower-info.info1 a').click(function() {				
				$('.carousel-inner .item2').removeClass('active');
				$('.carousel-inner .item3').removeClass('active');
				$('.carousel-inner .item1').addClass('active');
				
				$('.tower-img .tab2').removeClass('active');
				$('.tower-img .tab3').removeClass('active');
				$('.tower-img .tab1').addClass('active');
			});
			
			$('.tower-info.info2 a').click(function() {
				$('.carousel-inner .item1').removeClass('active');
				$('.carousel-inner .item3').removeClass('active');
				$('.carousel-inner .item2').addClass('active');
				
				$('.tower-img .tab1').removeClass('active');
				$('.tower-img .tab3').removeClass('active');
				$('.tower-img .tab2').addClass('active');
			});
			
			$('.tower-info.info3 a').click(function() {				
				$('.carousel-inner .item1').removeClass('active');
				$('.carousel-inner .item2').removeClass('active');
				$('.carousel-inner .item3').addClass('active');
				
				$('.tower-img .tab1').removeClass('active');
				$('.tower-img .tab2').removeClass('active');
				$('.tower-img .tab3').addClass('active');
			});
		});
		
		
		$(document).ready(function(){ 
			$(".tower-info a").click( function(){
				$('.tower-page .left-sidebar').addClass('hide-div');
				$('.tower-page .right-sidebar').addClass('move-div');
				
				$('.tower-page .left-sidebar').delay(500).fadeOut(500);
				$('.tower-page .right-sidebar').delay(500).fadeOut(500);
				$('.attraction-page').delay(500).fadeIn(500);
				$('.tower-page').delay(500).fadeOut(500);
				return false
			});
		});
    </script>
}