@model IEnumerable<BurjKhalifa.Models.AttractionModel>
@{
    ViewBag.Title = "Tower";
}


<div class="main-content select-attraction">
    <div class="row">
        <div class="left-sidebar">
            <div class="page-heading"><h1 class="page-title"><b>Select </b>Attraction</h1><span class="line"><hr></span></div>
            <p>AVAILABILITY FOR</p>
            <div class="date-area">
                @if (SessionVariables.Date != null)
                {
                    <span id="day" class="day">@(SessionVariables.Date.Value.DayOfWeek)</span>
                    <span id="date" class="date">@(SessionVariables.Date.Value.ToString("dd"))</span>
                    <span id="mnt" class="month">@(SessionVariables.Date.Value.ToString("MMMM"))</span>
                }
            </div>
            <a href="@Url.Action("SelectDay", "Home")" class="black-but-big back-but">Back<i class="fa fa-arrow-circle-left"></i></a>
        </div>
        <div class="right-sidebar">
            @*<span class="text-label">where would you like to go?</span>*@
            <div id="tower" class="tower-img">
                <div class="active tower-info info1"><a href="@Url.Action("Attraction","Home")">At the Top<br> Burj Khalifa SKY  </a></div>
                <div class="tower-info info2 "><a href="@Url.Action("Attraction","Home")">At the Top<br> Burj Khalifa </a></div>
                <div class="tower-info info3 "><a href="@Url.Action("Attraction","Home")">Dubai Fountain Lake Ride</a></div>
            </div>
            @*@using (Html.BeginForm("SelectAttraction", "Home", FormMethod.Post, new { @id = "setAttraction" }))
                {
                    @Html.Hidden("eventId")
                    @Html.Hidden("resourceId")
                }*@
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('.tower-info').click(function () {
            $('.tower-info').removeClass('active');
            $(this).addClass('active');
        });
    </script>
}