@model IEnumerable<BurjKhalifa.Models.AttractionTicket>
@{
    ViewBag.Title = "ViewPromotion";
}


<div class="main-content">
    <div class="row">
        <div class="left-sidebar">
            <div class="page-heading"><h1 class="page-title"><b>View</b> Promotions</h1><span class="line"><hr></span></div>
            <p>AVAILABILITY FOR</p>
            <div class="date-area">
                @if (SessionVariables.Date == null)
                {
                    <span id="day" class="day">@DateTime.Now.DayOfWeek</span>
                    <span id="date" class="date">@DateTime.Now.ToString("dd")</span>
                    <span id="mnt" class="month">@DateTime.Now.ToString("MMMM")</span>
                }
                else
                {
                    <span id="day" class="day">@(SessionVariables.Date.Value.DayOfWeek)</span>
                    <span id="date" class="date">@(SessionVariables.Date.Value.ToString("dd"))</span>
                    <span id="mnt" class="month">@(SessionVariables.Date.Value.ToString("MMMM"))</span>
                }
            </div>

            <a href="@(SessionVariables.Availalbe > 0 ? Url.Action("PersonalInformation", "Home") : Url.Action("SelectTime", "Home"))" class="black-but-big">Next<i class="fa fa-arrow-circle-right"></i></a>

            <a href="@ViewBag.ReturnUrl" class="black-but-big back-but">Back<i class="fa fa-arrow-circle-left"></i></a>
        </div>
        <div class="right-sidebar view-promotion">

            @{
                var i = 0;
                foreach (var item in Model)
                {
                    i += 1;
                    <div class="promotion-block1 select" resourceId="@item.i_ResourceID" eventtypeId="@item.i_EventtypeId">
                        <img src="@item.V_Tkt_Banner">
                        <p class="title">@item.v_Tkt_Name</p>
                        <p>@Html.Raw(item.v_Tkt_Desc)</p>
                        <a href="javascript:void(0)"><input class="black-but" name="" resourceId="@item.i_ResourceID" eventtypeId="@item.i_EventtypeId" type="submit" ticketid="@item.i_TicketId" value="Select This Promotion"></a>
                    </div>
                }
            }
        </div>
        @using (Html.BeginForm("ViewPromotion", "Home", FormMethod.Post, new { @id = "ViewPromotion" }))
        {
            @Html.Hidden("PromotionTitle")
            @Html.Hidden("ResourceId")
            @Html.Hidden("AttrationName")
            @Html.Hidden("EventTypeId")
        }
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
    <script>
        $('.select').click(function (element) {
            var PromotionTitle = $(this).parents('div.promotion-block1').find('p.title').text();
            var ResourceId = $(this).attr('resourceId');
            var EventtypeId = $(this).attr('eventtypeId');
            $("#ResourceId").val(ResourceId);
            $("#EventTypeId").val(EventtypeId);
            $("#PromotionTitle").val(PromotionTitle);
            $("#ViewPromotion").submit();
        });
    </script>

}